<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

</head>
<body class="bg-gray-100">
<div th:replace="header :: header"></div>
<!-- Start block -->
<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased" style="padding-top: 48px; padding-bottom: 84px">
    <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-72 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidenav">
        <div class="overflow-y-auto py-8 px-6 h-full bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
            <ul class="space-y-2">
                <li>
                    <div th:fragment="dropdownProduct">
                        <button id="multiLevelDropdownButtonProduct" data-dropdown-toggle="dropdownProduct" class="w-full text-white bg-gray-700 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-gray-800 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                            제품 구분 <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdownProduct" class="hidden ml-6 bg-white divide-y divide-gray-100 rounded-lg shadow w-56 dark:bg-gray-600 right-0 mt-2" style="margin-left: 12px">
                            <ul class="relative py-2 px-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="multiLevelDropdownButton">
                                <li th:each="category : ${allProductCategories}">
                                    <button th:id="'categoryButton_' + ${category.id}" th:data-dropdown-toggle="'dropdownProduct_' + ${category.id}" th:text="${category.name}" class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                    </svg></button>

                                    <div th:id="'dropdownProduct_' + ${category.id}" class="z-50 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-56 dark:bg-gray-700">
                                        <ul class="py-2 px-2 text-sm text-gray-700 dark:text-gray-200" th:each="product : ${category.products}">
                                            <li>
                                                <input th:id="'product_' + ${product.id}" th:value="${product.id}" type="checkbox" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500 product-checkbox">
                                                <label th:for="'product_' + ${product.id}"  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" th:text="${product.name} "></label>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="mt-3">
                    <div th:fragment="dropdownIssue">
                        <button id="multiLevelDropdownButtonIssue" data-dropdown-toggle="dropdownIssue" class="text-white w-full bg-gray-700 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-gray-800 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                            이슈 구분 <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdownIssue" class="hidden ml-6 bg-white divide-y divide-gray-100 rounded-lg shadow w-56 dark:bg-gray-600 right-0 mt-2">
                            <ul class="relative py-2 px-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="multiLevelDropdownButton">
                                <li th:each="category : ${allIssueCategories}">
                                    <button th:id="'categoryButton_' + ${category.id}" th:data-dropdown-toggle="'dropdownIssue_' + ${category.id}" th:text="${category.name}" class="flex items-center justify-between w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"><svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                                        <path stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                                    </svg></button>

                                    <div th:id="'dropdownIssue_' + ${category.id}" class="z-60 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-56 dark:bg-gray-700">
                                        <ul class="py-2 px-2 text-sm text-gray-700 dark:text-gray-200" th:each="issue : ${category.issues}">
                                            <li>
                                                <input th:id="'issue_' + ${issue.id}" th:value="${issue.id}" type="checkbox" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500 product-checkbox">
                                                <label th:for="'issue_' + ${issue.id}"  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" th:text="${issue.name} "></label>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="mt-3">
                    <div th:fragment="dropdownState">
                        <button id="multiLevelDropdownButtonState" data-dropdown-toggle="dropdownState" class="text-white w-full bg-gray-700 hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-gray-800 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
                            업무 구분 <svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdownState" class="hidden ml-6 bg-white divide-y divide-gray-100 rounded-lg shadow w-56 dark:bg-gray-700">
                            <ul class="relative py-2 px-2 text-sm text-gray-700 dark:text-gray-200" >
                                <li th:each="state : ${allStates}" class="flex items-center py-2">
                                    <input th:id="'state_' + ${state.id}" th:value="${state.id}" type="checkbox" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" >
                                    <label th:for="'state_' + ${state.id}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" th:text="${state.name} "></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="mx-auto max-w-2xl mb-2.5" style="margin-top: 24px">
                <label for="team" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <select id="team" name="teamId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option value="" selected>소속을 선택해주세요.</option>
                    <!-- Iterate over the issues list and add each issue's name as an option -->
                    <th:block th:each="team : ${allTeams}">
                        <option th:value="${team.id}" th:text="${team.name}" th:attr="data-teamId=${team.id}"></option>
                    </th:block>
                </select>
            </div>
            <div class="mx-auto max-w-2xl">
                <label for="member" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                <select id="member" name="engineerId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    <option value="all" selected>엔지니어를 선택해주세요.</option>
                    <!-- Iterate over the issues list and add each issue's name as an option -->
                    <th:block th:each="memp : ${allMemps}">
                        <!-- Check if the memp's teamId matches the selected team's id -->
                        <option th:value="${memp.id}" th:text="${memp.name}" th:attr="data-memTeamId=${memp.teamId}, data-memId=${memp.id}"></option>
                    </th:block>
                </select>
            </div>
            <!-- HTML -->
            <div style="margin-top: 24px">
                <div date-rangepicker class="block items-center align-middle" >
                    <div class="flex">
                        <span class="font-normal" style="font-size: 12px" >시작일</span>
                    </div>

                    <div class="mb-2.5">

                        <input name="start" id="startDate" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-4 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start">
                    </div>
                    <div class="flex">

                        <span class="mt-5.5 font-normal" style="font-size: 12px">종료일</span>
                    </div>
                    <div>
                        <input name="end" id="endDate" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-4 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date end">
                    </div>
                </div>
            </div>
            <button id="FilterApplyBtn" onclick="applyFilters()" class="mt-5 w-full p-10 py-2 px-4 text-sm font-medium text-white focus:outline-none bg-gray-600 rounded-lg border border-gray-200 hover:bg-gray-700 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                적용하기
            </button>
        </div>
    </aside>


    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <!-- Start coding here -->
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
                <div class="w-full" id="list_header" style="justify-items: end; align-items: end">
                    <form class="flex items-center flex" onsubmit="return submitSearch(event)">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div id="search-container" class="relative w-1/2">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input type="text" id="simple-search" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required="">
                        </div>
                        <button type="submit" class="ml-3 px-4 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-lg shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            Search
                        </button>
                        <div id="filter_container" class="ml-2.5">
                            <button id="filterBtn" class=" flex items-center justify-center max-w-2xl px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg md:w-auto focus:outline-none hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="w-4 h-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
                                </svg>
                                Filter
                            </button>
                        </div>
                    </form>


                </div>
            </div>
            <div class="flex-row md:flex-col items-center justify-start space-y-3 md:space-y-0 md:space-x-1 p-4">

                <div style="display: flex; flex-wrap: wrap; flex-direction: row; margin-bottom: 8px">
                    <div th:each="product : ${selectedProducts}" style="display: block" >
                        <span class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"  th:text="${product.getName()}">Red</span>
                    </div>
                    <div th:each="issue : ${selectedIssues}" style="display: block">
                        <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"  th:text="${issue.getName()}">Green</span>
                    </div>
                    <div th:each="state : ${selectedStates}"style="display: block" >
                        <span class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300" th:text="${state.getName()}">Yellow</span>
                    </div>
                    <div th:each="team : ${selectedTeams}"style="display: block" >
                        <span class="bg-orange-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300" th:text="${team.getName()}">Yellow</span>
                    </div>
                    <div th:each="memp : ${selectedMemps}"style="display: block" >
                        <span class="bg-purple-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300" th:text="${memp.getName()}">Yellow</span>
                    </div>
                </div>
                <div style="display: flex; flex-wrap: wrap; flex-direction: row; margin-bottom: 12px">
                <span th:if="${startDate != null}" th:text="'start '+ ${startDate}" class="mt-1 bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500">
                      <svg class="w-2.5 h-2.5 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                      </svg>
                    </span >
                <span  th:if="${endDate != null}" th:text="'end '+ ${endDate}" class="mt-1 bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                      <svg class="w-2.5 h-2.5 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                      </svg>
                    </span>
                </div>
            <div class="max-h-64 overflow-hidden">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" style="table-layout: fixed; width: 100%;">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-4 py-3 w-2/12" style="width: 25%">고객사</th>
                        <th scope="col" class="px-4 py-6 w-4/12" style="width: 45%">작업제목</th>
                        <th scope="col" class="px-4 py-3 w-2/12" style="width: 15%">제품명</th>
                        <th scope="col" class="px-4 py-3 w-2/12" style="width: 15%">지원일자
                            <button id="sortButton" th:attr="data-sortOrder=${sortOrder}">
                                <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 16">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5m0 6 4 4 4-4"/>
                                </svg>
                            </button>
                        </th>
                        <th scope="col" class="px-4 py-3 w-2/12" style="width: 15%">담당엔지니어</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}" class="border-b dark:border-gray-700">
                        <td class="px-4 py-3" th:text="${post.customer != null ? post.customer.name : 'Unknown'}">PC</td>
                        <td class="px-4 py-3 text-gray-900 whitespace-nowrap dark:text-white task-title-column min-w-[12rem]">
                            <a th:href="@{/details(supportId=${post.id})}" class="hover:text-primary-700 dark:hover:text-primary-500">
                                <!-- 글자수를 최대 10자로 제한, NULL값 처리 -->
                                <span style="font-weight: 600" th:text="${(post.taskTitle != null && post.taskTitle.trim().length() > 0) ? (post.taskTitle.length() > 30 ? post.taskTitle.substring(0, 30) + '...' : post.taskTitle) : (post.taskSummary.length() > 30 ? post.taskSummary.substring(0, 30) + '...' : post.taskSummary)}"></span>
                            </a>
                        </td>
                        <td class="px-4 py-3" th:text="${post.productName}">제품명</td>
                        <td class="px-4 py-3" th:text="${post.supportDate}">2020-01-01</td>
                        <td class="px-4 py-3" th:text="${post.engineerName}">엔지니어</td>
                    </tr>
                    </tbody>
                </table>


            </div>

            <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${posts.totalElements > 0} ? ${posts.pageable.offset + 1} : 0">1</span>
        -
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${posts.totalElements > 0} ? ${posts.pageable.offset + posts.size} : 0">10</span>
        of
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${posts.totalElements}">0</span>
    </span>
                <ul class="inline-flex items-stretch -space-x-px">
                    <li>
                        <a href="#" id="prevBtn" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Previous</span>
                            <svg class="w-5 h-5 " aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                    <!-- 페이지 번호를 반복하여 링크 생성 -->
                    <!-- Determine the current group number (e.g., 0 for 1-10, 1 for 11-20, etc.) -->
                    <th:block th:with="currentGroupNo=${currentPage/5}">

                        <!-- Calculate the start and end page numbers for the current group -->
                        <th:block th:with="startPageNo=${currentGroupNo*5 + 1}, endPageNo=${(currentGroupNo + 1)*5}">

                            <!-- Iterate over the page numbers in the current group -->
                            <li th:each="pageNo : ${#numbers.sequence(startPageNo, endPageNo)}" th:if="${pageNo <= totalPages}">
                                <!-- 현재 URL에서 쿼리 매개변수 추출 -->
                                <th:block th:with="currentParams=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().replaceQueryParam('page', null).build().toUri().query}">
                                    <!-- 페이지 링크에 페이지 및 필터링 매개변수 추가 -->
                                    <a th:href="@{/search(page=${pageNo})} + @{${currentParams} != null ? '&amp;' + ${currentParams} : ''}"
                                       th:classappend="${pageNo} == ${currentPage+1} ? 'font-semibold active flex items-center justify-center text-sm py-2 px-3 leading-tight text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'"
                                       th:text="${pageNo}">
                                    </a>
                                </th:block>
                            </li>

                        </th:block>

                    </th:block>
                    <li>
                        <a href="#" id="nextBtn" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Next</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</section>
<!-- End block -->
<div th:replace="footer :: footer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

<style>
    /* 기본적으로 사이드바는 숨겨진 상태 */
    #default-sidebar {
        transform: translateX(-100%);
    }

    /* 열리는 애니메이션 효과 */
    #default-sidebar.open {
        transition: transform 0.3s ease;
        transform: translateX(0);
    }

    /* Mobile responsive styles */
    @media (max-width: 640px) {

        #list_header{
            display: block;
            align-items: end;
            align-content: end;
            justify-items: end;
        }
        #search-container {
            width: 100%;
            margin-bottom: 4px;
        }

        .table-container {
            overflow-x: auto;
        }

        table {
            display: block;
            width: 100%;
        }

        th,
        td {
            display: block;
            text-align: left;
            padding: 1px;
        }

        th {
            font-weight: bold;
            display: none; /* Hide table header on mobile */

        }

        tbody tr {
            margin-bottom: 5px;
        }

        tbody tr:last-child {
            margin-bottom: 0;
        }

        #filter_container{
            display: flex;
            align-items: end;
            align-content: end;
            justify-items: end;
            justify-content: end;
        }

        #filterBtn{
            margin: 0px;
            width: 100%;
        }

    }
    svg {
        pointer-events: none;
    }
</style>


<script th:inline="javascript">

    // 페이지 로딩 후 실행
    document.addEventListener("DOMContentLoaded", function () {
        // 대분류 버튼 클릭 시 해당 드롭다운 메뉴 표시/숨김
        const categoryButtonsProduct = document.querySelectorAll("[data-dropdown-toggle^='dropdownProduct_']");
        categoryButtonsProduct.forEach(button => {
            button.addEventListener("click", function () {
                const dropdownId = this.getAttribute("data-dropdown-toggle");
                const dropdown = document.getElementById(dropdownId);
                dropdown.classList.toggle("hidden");
            });
        });

        const categoryButtonsIssue = document.querySelectorAll("[data-dropdown-toggle^='dropdownIssue_']");
        categoryButtonsIssue.forEach(button => {
            button.addEventListener("click", function () {
                const dropdownId = this.getAttribute("data-dropdown-toggle");
                const dropdown = document.getElementById(dropdownId);
                dropdown.classList.toggle("hidden");
            });
        });

    });

    const teamSelect = document.getElementById('team');
    const memberSelect = document.getElementById('member');

    // 초기 멤버 리스트 저장
    const initialMembers = [...document.querySelectorAll('#member option')];

    // 팀 선택 변경 시 이벤트 핸들러
    teamSelect.addEventListener('change', function() {
        const selectedTeamId = teamSelect.options[teamSelect.selectedIndex].getAttribute('data-teamId');
        TeamId = selectedTeamId

        // 멤버 선택 옵션 초기화
        memberSelect.innerHTML = '<option value="all" th:attr="data-memId=null" selected>전체</option>\n';

        // 선택된 팀에 해당하는 멤버만 보여주기
        for (const memberOption of initialMembers) {
            const memberTeamId = memberOption.getAttribute('data-memTeamId');

            if (memberTeamId === selectedTeamId || selectedTeamId === '') {
                console.log(memberOption)
                memberSelect.appendChild(memberOption.cloneNode(true));
            }
        }
    });

const groupedIssues = /*[[${groupedIssues }]]*/ [];

function showCategoryIssues(category) {
    const issues = groupedIssues[category]; // 해당 대분류에 속하는 이슈 리스트
    const issueList = document.getElementById('issueList'); // 이슈를 표시할 엘리먼트

    // 이슈 리스트를 화면에 표시
    issueList.innerHTML = '';
    issues.forEach(issue => {
        issueList.innerHTML += `<li>${issue.issueName}</li>`; // 이슈 이름 또는 다른 정보
    });
}


    function applyFilters() {

        const teamSelect = document.getElementById('team');
        const memberSelect = document.getElementById('member');

        // 선택된 product ID들을 저장할 배열
        const selectedProductIds = [];

        // 선택된 issue ID들을 저장할 배열
        const selectedIssueIds = [];

        // 선택된 issue ID들을 저장할 배열
        const selectedStateIds = [];

        // 선택된 시작 날짜와 종료 날짜를 가져옴
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;

        // 모든 product 체크박스들을 가져와서 선택된 ID들을 배열에 추가
        const productCheckboxes = document.querySelectorAll('[id^="product_"]');
        productCheckboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                selectedProductIds.push(checkbox.value);
            }
        });

        // 모든 issue 체크박스들을 가져와서 선택된 ID들을 배열에 추가
        const issueCheckboxes = document.querySelectorAll('[id^="issue_"]');
        issueCheckboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                selectedIssueIds.push(checkbox.value);
            }
        });

        // 모든 state 체크박스들을 가져와서 선택된 ID들을 배열에 추가
        const stateCheckboxes = document.querySelectorAll('[id^="state_"]');
        stateCheckboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                selectedStateIds.push(checkbox.value);
            }
        });

        const selectedTeamId = teamSelect.options[teamSelect.selectedIndex].getAttribute('data-teamId');
        const selectedMemberId = memberSelect.options[memberSelect.selectedIndex].getAttribute('data-memId');
        const selectedSortOrder = sortButton.getAttribute('data-sortOrder');
        // URL 파라미터로 선택된 ID들을 전달하여 필터링된 결과를 보여줌
        const queryParams = new URLSearchParams();

        if (selectedProductIds.length>0) queryParams.append('productId', selectedProductIds);
        if (selectedIssueIds.length>0) queryParams.append('issueId', selectedIssueIds);
        if (selectedStateIds.length>0) queryParams.append('stateId', selectedStateIds);
        if (startDate) queryParams.append('startDate', startDate);
        if (endDate) queryParams.append('endDate', endDate);
        if (selectedTeamId) queryParams.append('teamId', selectedTeamId);
        if (selectedMemberId) queryParams.append('engineerId', selectedMemberId);
        if (selectedSortOrder) queryParams.append('sortOrder', selectedSortOrder);


        // filterApplyBtn을 눌렀을 때 @GetMapping("/search")로 이동하며, URL 파라미터를 전달
        window.location.href = '/search?' + queryParams.toString();
    }
function getToggledSortOrder() {
        const currentSortOrder = sortButton.getAttribute('data-sortOrder');
        console.log(sortButton.getAttribute('data-sortOrder'))
    console.log(currentSortOrder === 'desc')
    const newSortOrder = currentSortOrder === 'desc' ? 'asc' : 'desc';
        sortButton.setAttribute('data-sortOrder', newSortOrder);
        return newSortOrder;
    }

    sortButton.addEventListener('click', () => {
        getToggledSortOrder(); // Update data-sortOrder attribute on button click
        applyFilters(); // Apply filters and sort
    });

    // filterBtn을 클릭했을 때, aside를 열고 닫기 위한 함수를 정의합니다.
    const filterBtn = document.getElementById('filterBtn');
    const sidebar = document.getElementById('default-sidebar');


    // filterBtn을 클릭했을 때 사이드바를 열고 닫는 함수
    filterBtn.addEventListener('click', () => {
        // 사이드바 상태를 확인하여 열린 상태면 닫고, 닫힌 상태면 열도록 토글링합니다.
        if (sidebar.classList.contains('open')) {
            sidebar.classList.remove('open');
        } else {
            sidebar.classList.add('open');
        }
    });

    // document의 클릭 이벤트를 추가하여 사이드바 외부를 클릭했을 때 사이드바를 닫습니다.
    document.addEventListener('click', (event) => {
        // 클릭된 요소가 사이드바가 아닌 경우에만 사이드바를 닫도록 합니다.
        if (event.target !== sidebar && !sidebar.contains(event.target) && event.target !== filterBtn) {
            sidebar.classList.remove('open');
        }
    });

    const currentPage = /*[[${currentPage }]]*/;
    const totalPages = /*[[${totalPages }]]*/;

    function getCurrentURLParams() {
        const urlParams = new URLSearchParams(window.location.search);
        const queryParams = {};
        urlParams.forEach((value, key) => (queryParams[key] = value));
        return queryParams;
    }

    document.addEventListener('DOMContentLoaded', function () {
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');

        prevBtn.addEventListener('click', function (event) {
            event.preventDefault();
            console.log(currentPage);
            if (currentPage >= 5) {
                const prevPage = ( parseInt( (currentPage - 5)/5)) * 5;
                const currentParams = getCurrentURLParams();
                currentParams['page'] = prevPage+1;
                window.location.href = '/search?' + new URLSearchParams(currentParams).toString();
            }
        });

        nextBtn.addEventListener('click', function (event) {
            event.preventDefault();
            if (currentPage < totalPages - 1) {
                const nextPage = ( parseInt( (currentPage + 5)/5) ) * 5;
                console.log(nextPage);

                const currentParams = getCurrentURLParams();
                currentParams['page'] = nextPage+1;
                window.location.href = '/search?' + new URLSearchParams(currentParams).toString();
            }
        });
    });



    function submitSearch(event) {
        event.preventDefault();
        const searchInput = document.getElementById("simple-search");
        const searchQuery = searchInput.value.trim();
        const currentPage = 0; // Change this value to the current page number
        if (searchQuery !== "") {
            // Redirect to the URL with the search keyword and current page number
            window.location.href = "/search?page=" + currentPage + "&Keyword=" + encodeURIComponent(searchQuery);
        } else {
            // Redirect to the URL without the search keyword (remove the query parameter)
            window.location.href = "/search?page=" + currentPage;
        }
        return false;
    }
</script>


</body>
</html>