<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" th:href="@{/css/tailwind.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

</head>
<body class="bg-gray-100">
<div th:replace="header :: header"></div>
<!-- Start block -->
<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased" style="margin-top: 48px; margin-bottom: 84px">
    <aside id="default-sidebar" class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidenav">
        <div class="overflow-y-auto py-5 px-3 h-full bg-white border-r border-gray-200 dark:bg-gray-800 dark:border-gray-700">
            <ul class="space-y-2">
                <li>
                    <button type="button" id="productDropdownButton" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-pages" data-collapse-toggle="dropdown-pages">
                        <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-400 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd"></path></svg>
                        <span class="flex-1 ml-3 text-left whitespace-nowrap">제품구분</span>
                        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                    <ul id="productDropdown" class="hidden ml-2.5 py-2 space-y-2">
                        <ul class="space-y-2 text-sm" aria-labelledby="filterDropdownButton">
                            <li th:each="product : ${allProducts}" class="flex items-center">
                                <input th:id="'product_' + ${product.id}" th:value="${product.id}" type="checkbox" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500 product-checkbox">
                                <label th:for="'product_' + ${product.id}"  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" th:text="${product.name} "></label>
                            </li>
                        </ul>
                    </ul>
                </li>
                <hr class="mt-3">
                <li>
                    <button type="button" id="issueDropdownButton" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-sales" data-collapse-toggle="dropdown-sales">
                        <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-400 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
                        <span class="flex-1 ml-3 text-left whitespace-nowrap">이슈구분</span>
                        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                    <ul id="issueDropdown" class="hidden ml-2.5 py-2 space-y-2">
                        <li th:each="issue : ${allIssues}" class="flex items-center">
                            <input th:id="'issue_' + ${issue.id}" th:value="${issue.id}" type="checkbox" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500 issue-checkbox">
                            <label th:for="'issue_' + ${issue.id}"  class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" th:text="${issue.name} "></label>
                        </li>
                    </ul>
                </li>
                <hr class="mt-3">
                <li>
                    <button type="button" id="stateDropdownButton" class="flex items-center p-2 w-full text-base font-normal text-gray-900 rounded-lg transition duration-75 group hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700" aria-controls="dropdown-authentication" data-collapse-toggle="dropdown-authentication">
                        <svg aria-hidden="true" class="flex-shrink-0 w-6 h-6 text-gray-400 transition duration-75 group-hover:text-gray-900 dark:text-gray-400 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path></svg>
                        <span class="flex-1 ml-3 text-left whitespace-nowrap">업무구분</span>
                        <svg aria-hidden="true" class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                    <ul id="stateDropdown" class="hidden ml-2.5 py-2 space-y-2">
                        <li th:each="state : ${allStates}" class="flex items-center">
                            <input th:id="'state_' + ${state.id}" th:value="${state.id}" type="checkbox" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500" >
                            <label th:for="'state_' + ${state.id}" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300" th:text="${state.name} "></label>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- HTML -->
            <div date-rangepicker class="mt-5 block items-center align-middle" >
                <span class="mx-2 text-gray-500 mt-5.5 font-normal">시작일</span>

                <div class="relative mb-2.5">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </div>
                    <input name="start" id="startDate" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start">
                </div>
                <span class="mx-2 text-gray-500 mt-5.5 font-normal">종료일</span>
                <div class="relative">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                        </svg>
                    </div>
                    <input name="end" id="endDate" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date end">
                </div>
            </div>
            <button id="FilterApplyBtn" onclick="applyFilters()" class="mt-5 w-full p-10 py-2 px-4 text-sm font-medium text-white focus:outline-none bg-gray-600 rounded-lg border border-gray-200 hover:bg-gray-700 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                적용하기
            </button>
        </div>
    </aside>

    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <!-- Start coding here -->
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex-row md:flex-col items-center justify-start space-y-3 md:space-y-0 md:space-x-1 p-4">
              <div class="w-2/3 md:w-1/3 flex mb-2.5">
                    <form class="flex items-center" onsubmit="return submitSearch(event)">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input type="text" id="simple-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-2/3 pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Search" required="">
                        </div>
                        <button type="submit" class="ml-3 px-4 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-lg shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            Search
                        </button>
                    </form>
                  <button style="align-self: end; align-items: end" type="submit" id="filterBtn" class="ml-3 px-4 py-2 text-sm font-medium text-white bg-gray-400 border border-transparent rounded-lg shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:bg-gray-700">
                      Filter
                  </button>
                </div>

                <div style="display: flex; flex-wrap: wrap; flex-direction: row; margin-bottom: 8px">
                    <div th:each="product : ${selectedProducts}" style="display: block" >
                        <span class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"  th:text="${product.getName()}">Red</span>
                    </div>
                    <div th:each="issue : ${selectedIssues}" style="display: block">
                        <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300"  th:text="${issue.getName()}">Green</span>
                    </div>
                    <div th:each="state : ${selectedStates}"style="display: block" >
                        <span class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300" th:text="${state.getName()}">Yellow</span>
                    </div>

                </div>
                <div style="display: flex; flex-wrap: wrap; flex-direction: row; margin-bottom: 12px">
                <span th:if="${startDate != null}" th:text="'start '+ ${startDate}" class="mt-1 bg-gray-100 text-gray-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded mr-2 dark:bg-gray-700 dark:text-gray-400 border border-gray-500">
                      <svg class="w-2.5 h-2.5 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                      </svg>
                    </span >
                <span  th:if="${endDate != null}" th:text="'end '+ ${endDate}" class="mt-1 bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400">
                      <svg class="w-2.5 h-2.5 mr-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                        <path d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"/>
                      </svg>
                    </span>
                </div>
            <div class="max-h-64 overflow-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-4 py-3 w-2/12">고객사</th>
                        <th scope="col" class="px-4 py-6 w-2/12">작업제목</th>
                        <th scope="col" class="px-4 py-3 w-2/12">제퓸명</th>
                        <th scope="col" class="px-4 py-3 w-2/12">지원일자</th>
                        <th scope="col" class="px-4 py-3 w-2/12">담당엔지니어</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}" class="border-b dark:border-gray-700">
                        <td class="px-4 py-3" th:text="${post.customerName}">PC</td>
                        <td class="px-4 py-3 text-gray-900 whitespace-nowrap dark:text-white task-title-column min-w-[12rem]">
                            <a th:href="@{/details(supportId=${post.id})}" class="hover:text-primary-700 dark:hover:text-primary-500">
                                <!-- 글자수를 최대 10자로 제한, NULL값 처리 -->
                                <span style="font-weight: 600" th:text="${(post.taskTitle != null && post.taskTitle.trim().length() > 0) ? (post.taskTitle.length() > 30 ? post.taskTitle.substring(0, 30) + '...' : post.taskTitle) : '제목없음'}"></span>
                            </a>
                        </td>
                        <td class="px-4 py-3" th:text="${post.productName}">제품명</td>
                        <td class="px-4 py-3" th:text="${post.supportDate}">2020-01-01</td>
                        <td class="px-4 py-3" th:text="${post.engineerName}">엔지니어</td>
                    </tr>
                    </tbody>
                </table>


            </div>

            <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${posts.totalElements > 0} ? ${posts.pageable.offset + 1} : 0">1</span>
        -
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${posts.totalElements > 0} ? ${posts.pageable.offset + posts.size} : 0">10</span>
        of
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${posts.totalElements}">0</span>
    </span>
                <ul class="inline-flex items-stretch -space-x-px">
                    <li>
                        <a href="#" id="prevBtn" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Previous</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                    <!-- 페이지 번호를 반복하여 링크 생성 -->
                    <!-- Determine the current group number (e.g., 0 for 1-10, 1 for 11-20, etc.) -->
                    <th:block th:with="currentGroupNo=${currentPage/10}">

                        <!-- Calculate the start and end page numbers for the current group -->
                        <th:block th:with="startPageNo=${currentGroupNo*10 + 1}, endPageNo=${(currentGroupNo + 1)*10}">

                            <!-- Iterate over the page numbers in the current group -->
                            <li th:each="pageNo : ${#numbers.sequence(startPageNo, endPageNo)}" th:if="${pageNo <= totalPages}">
                                <!-- 현재 URL에서 쿼리 매개변수 추출 -->
                                <th:block th:with="currentParams=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().replaceQueryParam('page', null).build().toUri().query}">
                                    <!-- 페이지 링크에 페이지 및 필터링 매개변수 추가 -->
                                    <a th:href="@{/search(page=${pageNo})} + @{${currentParams} != null ? '&amp;' + ${currentParams} : ''}"
                                       th:classappend="${pageNo} == ${currentPage} ? 'active flex items-center justify-center text-sm py-2 px-3 leading-tight text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'"
                                       th:text="${pageNo}">
                                    </a>
                                </th:block>
                            </li>

                        </th:block>

                    </th:block>
                    <li>
                        <a href="#" id="nextBtn" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Next</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</section>
<!-- End block -->
<div th:replace="footer :: footer"></div>

<style>
    /* 기본적으로 사이드바는 숨겨진 상태 */
    #default-sidebar {
        transform: translateX(-100%);
    }

    /* 열리는 애니메이션 효과 */
    #default-sidebar.open {
        transition: transform 0.3s ease;
        transform: translateX(0);
    }
</style>


<script th:inline="javascript">

    // JavaScript
    function applyFilters() {
        // 선택된 product ID들을 저장할 배열
        const selectedProductIds = [];

        // 선택된 issue ID들을 저장할 배열
        const selectedIssueIds = [];

        // 선택된 issue ID들을 저장할 배열
        const selectedStateIds = [];

        // 선택된 시작 날짜와 종료 날짜를 가져옴
        const startDate = document.getElementById('startDate').value;
        const endDate = document.getElementById('endDate').value;

        // 모든 product 체크박스들을 가져와서 선택된 ID들을 배열에 추가
        const productCheckboxes = document.querySelectorAll('[id^="product_"]');
        productCheckboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                selectedProductIds.push(checkbox.value);
            }
        });

        // 모든 issue 체크박스들을 가져와서 선택된 ID들을 배열에 추가
        const issueCheckboxes = document.querySelectorAll('[id^="issue_"]');
        issueCheckboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                selectedIssueIds.push(checkbox.value);
            }
        });

        // 모든 state 체크박스들을 가져와서 선택된 ID들을 배열에 추가
        const stateCheckboxes = document.querySelectorAll('[id^="state_"]');
        stateCheckboxes.forEach((checkbox) => {
            if (checkbox.checked) {
                selectedStateIds.push(checkbox.value);
            }
        });

        // URL 파라미터로 선택된 ID들을 전달하여 필터링된 결과를 보여줌
        const queryParams = new URLSearchParams({
            productId: selectedProductIds,
            issueId: selectedIssueIds,
            stateId: selectedStateIds,
            startDate: startDate,
            endDate: endDate
        });

        // filterApplyBtn을 눌렀을 때 @GetMapping("/search")로 이동하며, URL 파라미터를 전달
        window.location.href = '/search?' + queryParams.toString();
    }

// filterBtn을 클릭했을 때, aside를 열고 닫기 위한 함수를 정의합니다.
    const filterBtn = document.getElementById('filterBtn');
    const sidebar = document.getElementById('default-sidebar');


    // filterBtn을 클릭했을 때 사이드바를 열고 닫는 함수
    filterBtn.addEventListener('click', () => {
        // 사이드바 상태를 확인하여 열린 상태면 닫고, 닫힌 상태면 열도록 토글링합니다.
        if (sidebar.classList.contains('open')) {
            sidebar.classList.remove('open');
        } else {
            sidebar.classList.add('open');
        }
    });

    // document의 클릭 이벤트를 추가하여 사이드바 외부를 클릭했을 때 사이드바를 닫습니다.
    document.addEventListener('click', (event) => {
        // 클릭된 요소가 사이드바가 아닌 경우에만 사이드바를 닫도록 합니다.
        if (event.target !== sidebar && !sidebar.contains(event.target) && event.target !== filterBtn) {
            sidebar.classList.remove('open');
        }
    });

    document.addEventListener("DOMContentLoaded", function () {
        const dropdownButton = document.getElementById("productDropdownButton");
        const dropdownMenu = document.getElementById("productDropdown");

        const issueDropdownButton = document.getElementById("issueDropdownButton");
        const issueDropdown = document.getElementById("issueDropdown");

        const stateDropdownButton = document.getElementById("stateDropdownButton");
        const stateDropdown = document.getElementById("stateDropdown");

        dropdownButton.addEventListener("click", function () {
            if (dropdownMenu.classList.contains("hidden")) {
                dropdownMenu.classList.remove("hidden");
                issueDropdown.classList.add("hidden");
                stateDropdown.classList.add("hidden");

            } else {
                dropdownMenu.classList.add("hidden");
            }
        });

        issueDropdownButton.addEventListener("click", function () {
            if (issueDropdown.classList.contains("hidden")) {
                issueDropdown.classList.remove("hidden");
                dropdownMenu.classList.add("hidden");
                stateDropdown.classList.add("hidden");
            } else {
                issueDropdown.classList.add("hidden");
            }
        });

        stateDropdownButton.addEventListener("click", function () {
            if (stateDropdown.classList.contains("hidden")) {
                stateDropdown.classList.remove("hidden");
                dropdownMenu.classList.add("hidden");
                issueDropdown.classList.add("hidden");
            } else {
                stateDropdown.classList.add("hidden");
            }
        });
    });

    const currentPage = /*[[${currentPage }]]*/;
    const totalPages = /*[[${totalPages }]]*/;

    function getCurrentURLParams() {
        const urlParams = new URLSearchParams(window.location.search);
        const queryParams = {};
        urlParams.forEach((value, key) => (queryParams[key] = value));
        return queryParams;
    }

    document.addEventListener('DOMContentLoaded', function () {
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');

        prevBtn.addEventListener('click', function (event) {
            event.preventDefault();
            console.log(currentPage);
            if (currentPage >= 10) {
                const prevPage = ((currentPage - 10)/10) * 10;
                const currentParams = getCurrentURLParams();
                currentParams['page'] = prevPage;
                window.location.href = '/search?' + new URLSearchParams(currentParams).toString();
            }
        });

        nextBtn.addEventListener('click', function (event) {
            event.preventDefault();
            if (currentPage < totalPages - 1) {
                console.log(currentPage);
                const nextPage = ((currentPage + 10)/10) * 10;
                const currentParams = getCurrentURLParams();
                currentParams['page'] = nextPage;
                window.location.href = '/search?' + new URLSearchParams(currentParams).toString();
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        const dropdownButton = document.getElementById("productFilterDropdownButton");
        const dropdown = document.getElementById("productFilterDropdown");

        dropdownButton.addEventListener("click", function() {
            dropdown.classList.toggle("hidden");
        });

        // 드롭다운 외부를 클릭할 때 드롭다운 닫기
        document.addEventListener("click", function(event) {
            if (!dropdown.contains(event.target) && event.target !== dropdownButton) {
                dropdown.classList.add("hidden");
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function() {
        const dropdownButton = document.getElementById("issueFilterDropdownButton");
        const dropdown = document.getElementById("issueFilterDropdown");

        dropdownButton.addEventListener("click", function() {
            dropdown.classList.toggle("hidden");
        });

        // 드롭다운 외부를 클릭할 때 드롭다운 닫기
        document.addEventListener("click", function(event) {
            if (!dropdown.contains(event.target) && event.target !== dropdownButton) {
                dropdown.classList.add("hidden");
            }
        });
    });


    function submitSearch(event) {
        event.preventDefault();
        const searchInput = document.getElementById("simple-search");
        const searchQuery = searchInput.value.trim();
        const currentPage = 0; // Change this value to the current page number
        if (searchQuery !== "") {
            // Redirect to the URL with the search keyword and current page number
            window.location.href = "/search?page=" + currentPage + "&Keyword=" + encodeURIComponent(searchQuery);
        } else {
            // Redirect to the URL without the search keyword (remove the query parameter)
            window.location.href = "/search?page=" + currentPage;
        }
        return false;
    }
</script>


</body>
</html>