<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/tailwind.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />

</head>
<body>
<div th:replace="header :: header"></div>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white" style="padding-bottom: 48px">지원내역 등록</h2>
        <form th:action="@{/post}" method="post">
            <div class="sm:col-span-2" style="padding-bottom: 24px">
                <label for="taskTitle" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">작업 제목</label>
                <textarea name = "taskTitle" id="taskTitle" rows="1" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" maxlength="20" placeholder="제목은 필수입니다. (20자 이내)"></textarea>
            </div>
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6" style="padding-bottom: 24px">

                <div>
                    <label for="customer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">고객사 검색</label>
                    <select id="customer" name="customerId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option value="" selected>고객사 검색</option>
                        <!-- Iterate over the issues list and add each issue's name as an option -->
                        <th:block th:each="customer : ${customers}">
                            <option th:value="${customer.id}" th:text="${customer.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="product" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">제품명</label>
                    <select id="product" name="productId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option value="" selected>제품명을 선택해주세요.</option>
                        <!-- Iterate over the issues list and add each issue's name as an option -->
                        <th:block th:each="product : ${products}">
                            <option th:value="${product.id}" th:text="${product.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="issue" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">이슈구분</label>
                    <select id="issue" name="issueId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option value="" selected>이슈 구분을 선택해주세요.</option>
                        <!-- Iterate over the issues list and add each issue's name as an option -->
                        <th:block th:each="issue : ${issues}">
                            <option th:value="${issue.id}" th:text="${issue.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="state" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">업무구분</label>
                    <select id="state" name="stateId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option value="" selected>업무 구분을 선택해주세요.</option>
                        <!-- Iterate over the issues list and add each issue's name as an option -->
                        <th:block th:each="state : ${states}">
                            <option th:value="${state.id}" th:text="${state.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="engineer" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">담당 엔지니어</label>
                    <select id="engineer" name="engineerId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option value="" selected>담당 엔지니어를 검색해주세요.</option>
                        <!-- Iterate over the issues list and add each issue's name as an option -->
                        <th:block th:each="mem : ${memps}">
                            <option th:value="${mem.id}" th:text="${mem.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="supportType" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">지원 형태</label>
                    <select id="supportType" name="supportTypeId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <option value="" selected>지원형태를 선택해주세요.</option>
                        <!-- Iterate over the issues list and add each issue's name as an option -->
                        <th:block th:each="supportType : ${supportTypes}">
                            <option th:value="${supportType.id}" th:text="${supportType.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="item-weight" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">레드마인 일감</label>
                    <input type="number" name="redmineIssue" id="item-weight" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="레드마인 일감 번호를 입력해주세요." required="" min="0">
                </div>
                <div class="sm:col-span-2" style="padding-bottom: 24px">
                    <label for="customerContact" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >고객 담당자</label>
                    <textarea name = "customerContact" id="customerContact" rows="1" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="고객 담당자를 입력해주세요."></textarea>
                </div>
                <div class="sm:col-span-2" style="padding-bottom: 24px">
                    <label for="supportDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">지원일자</label>
                    <input type="date" name="supportDate" id="supportDate" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" max="2023-08-01">
                </div>
            </div>
            <div class="sm:col-span-2" style="padding-bottom: 24px">
                <label for="taskSummary" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >작업 요약</label>
                <textarea name = "taskSummary" id="taskSummary" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="지원 내역을 요약해주세요."></textarea>
            </div>
            <div class="sm:col-span-2">
                <label for="taskDetails" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">작업 상세</label>
                <textarea name = "taskDetails" id="taskDetails" rows="16" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="지원 내역 스크립트를 작성해주세요."></textarea>
            </div>
            <div style="display: flex; align-items: end; justify-content: flex-end;">
                <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-gray-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    등록하기
                </button>
            </div>


        </form>
    </div>
</section>
<div th:replace="footer :: footer"></div>

</body>
</html>