<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/tailwind.css}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />

</head>
<body >
<div th:replace="header :: header"></div>

<main style="display: grid; align-items: center; justify-items: center; padding: 48px;">

    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!--    지원형태별-->
    <div class="max-w-2xl w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">

        <div class="flex justify-between items-start w-full">
            <div class="flex-col items-center">
                <div class="flex items-center mb-1">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white mr-1">지원형태별</h5>
                </div>
            </div>
        </div>

        <div id="chart_div"></div>
<!--        <div class="py-6" id="pie-chart"></div>-->
<!--        <div id="chartdiv" style="  width: 100%;-->
<!--  height: 1200px;">-->
    </div>
    </div>

    <!--    제품별-->
    <div class="max-w-2xl w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">

        <div class="flex justify-between items-start w-full">
            <div class="flex-col items-center">
                <div class="flex items-center mb-1">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white mr-1">제품별</h5>
                </div>
            </div>
        </div>

        <!-- Line Chart -->
        <div class="py-6" id="pie-chart2"></div>
        <div id="chart_div2"></div>

    </div>

    <!--    고객사별-->
    <div class="max-w-2xl w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">

        <div class="flex justify-between items-start w-full">
            <div class="flex-col items-center">
                <div class="flex items-center mb-1">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white mr-1">고객사별</h5>
                </div>
            </div>
            <div>
      <span class="bg-green-100 text-green-800 text-xs font-medium inline-flex items-center px-2.5 py-1 rounded-md dark:bg-green-900 dark:text-green-300">
        지원내역 상위 10개
      </span>
            </div>
        </div>

        <div id="column-chart"></div>
    </div>
    <!--    팀별-->

    <div class="max-w-2xl w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
        <div class="flex justify-between items-start w-full">
            <div class="flex-col items-center">
                <div class="flex items-center mb-1">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white mr-1">팀별</h5>
                </div>
            </div>
        </div>

        <div id="column-chart2"></div>

    </div>



    <!-- Resources -->
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>


    <!-- Chart code -->
    <script th:inline="javascript">


        // 지원형태별
        const supportTypeRatiosValues  = /*[[${supportTypeRatiosValues }]]*/ [];
        const supportTypeRatios  = Object.keys(/*[[${supportTypeRatios }]]*/);
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawGooglePieChart);

        function drawGooglePieChart() {
            // Create the data array for Google Charts
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Category');
            data.addColumn('number', 'ratio');
            data.addRows(supportTypeRatios.map((category, index) => [category, supportTypeRatiosValues[index]]));

            // Define custom colors or use Google Charts default colors
            // For example, you can use ['#1C64F2', '#16BDCA', '#9061F9'] for custom colors
            var colors = [
                '#C7E2FF',
                '#B4F1EC',
                '#DDB9FF',
                '#FFA5A5',
                '#B0FFD7',
                '#FFD280',
                '#80C0C0',
                '#FFE680',
            ];
            var options = {
                'width': 700,
                'height': 500,
                // legend: 'none',
                pieSliceText: 'label',
                pieStartAngle: 120,
                // slices: {
                //     1: {offset: 0.2},
                //     3: {offset: 0.3}
                // },
                is3D: true,
                colors: colors, // Apply custom colors here
            };


            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }

        // 고객사별

        const customerTypeRatiosValues = /*[[${customerTypeRatiosValues}]]*/ [];
        const customerTypeLabels = Object.keys(/*[[${customerTypeRatios}]]*/);

        window.addEventListener("load", function() {
            const options = {
                series: [
                    {
                        name: "Support Count",
                        color: "#1A56DB",
                        data: customerTypeRatiosValues.map((value, index) => ({ x: customerTypeLabels[index], y: value })),
                    }
                ],
                chart: {
                    type: "bar",
                    height: "320px",
                    fontFamily: "Inter, sans-serif",
                    toolbar: {
                        show: false,
                    },
                },
                // ... (rest of the options)
                xaxis: {
                    floating: false,
                    labels: {
                        show: true,
                        style: {
                            fontFamily: "Inter, sans-serif",
                            cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                        }
                    },
                    axisBorder: {
                        show: false,
                    },
                    axisTicks: {
                        show: false,
                    },
                },
                // ... (rest of the options)
            };

            if (document.getElementById("column-chart") && typeof ApexCharts !== 'undefined') {
                const chart = new ApexCharts(document.getElementById("column-chart"), options);
                chart.render();
            }
        });


        // 팀별
        const teamTypeRatiosValues = /*[[${teamTypeRatiosValues}]]*/;
        const teamTypeCategories = Object.keys(/*[[${teamTypeRatios}]]*/);

        window.addEventListener("load", function() {
            const options = {
                series: [
                    {
                        name: "Support Count",
                        color: "#1adb71",
                        data: teamTypeRatiosValues.map((value, index) => ({ x: teamTypeCategories[index], y: value })),
                    }
                ],
                chart: {
                    type: "bar",
                    height: "320px",
                    fontFamily: "Inter, sans-serif",
                    toolbar: {
                        show: false,
                    },
                },
                // ... (rest of the options)
                xaxis: {
                    floating: false,
                    labels: {
                        show: true,
                        style: {
                            fontFamily: "Inter, sans-serif",
                            cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
                        }
                    },
                    axisBorder: {
                        show: false,
                    },
                    axisTicks: {
                        show: false,
                    },
                },
                // ... (rest of the options)
            };

            if (document.getElementById("column-chart2") && typeof ApexCharts !== 'undefined') {
                const chart = new ApexCharts(document.getElementById("column-chart2"), options);
                chart.render();
            }
        });

        // 제품별
        const productTypeRatiosValues  = /*[[${productTypeRatiosValues }]]*/ [];
        const productTypeRatios  = Object.keys(/*[[${productTypeRatios }]]*/);
        google.charts.setOnLoadCallback(drawGooglePieChart2);

        function drawGooglePieChart2() {
            // Create the data array for Google Charts
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Category');
            data.addColumn('number', 'ratio');
            data.addRows(productTypeRatios.map((category, index) => [category, productTypeRatiosValues[index]]));

            // Define custom colors or use Google Charts default colors
            // For example, you can use ['#1C64F2', '#16BDCA', '#9061F9'] for custom colors
            var colors = [
                '#C7E2FF',
                '#B4F1EC',
                '#DDB9FF',
                '#FFA5A5',
                '#B0FFD7',
                '#FFD280',
                '#80C0C0',
                '#FFE680',
            ];
            var options = {
                'width': 700,
                'height': 500,
                // legend: 'none',
                pieSliceText: 'label',
                pieStartAngle: 120,
                // slices: {
                //     1: {offset: 0.2},
                //     3: {offset: 0.3}
                // },
                is3D: false,
                colors: colors, // Apply custom colors here
            };


            var chart = new google.visualization.PieChart(document.getElementById('chart_div2'));
            chart.draw(data, options);
        }


    </script>


</main>
<div th:replace="footer :: footer"></div>

</body>
</html>