<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- fullcalendar CDN -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <!-- fullcalendar 언어 CDN -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />

    <style>
        /* 캘린더 위의 해더 스타일(날짜가 있는 부분) */
        .fc-header-toolbar {
            padding-top: 1em;
            padding-left: 1em;
            padding-right: 1em;
        }
    </style>
</head>
<body>
<div th:replace="header :: header"></div>

<section class="bg-white dark:bg-gray-900"   >
    <div class="py-8 px-4 mx-auto max-w-4xl lg:py-16" style="align-items: center; display: grid; align-content: center; text-align: center">
        <hr style="margin-bottom: 48px">
        <div style="display: flex">
            <span class="mb-4 text-xl font-bold text-gray-400 dark:text-white mr-2.5 align-bottom" style="font-size: medium; text-align: left" th:text="${team.name}"></span>
            <span class="mb-4 text-xl font-bold text-gray-900 dark:text-white" style="margin-bottom: 48px; font-size: x-large; text-align: left" th:text="${member.name}"></span>
        </div>

        <hr style="margin-bottom: 48px">

        <span class="mb-4 text-xl font-bold text-gray-700 dark:text-white" style="margin-bottom: 24px; font-size: large; text-align: left">지원내역 조회</span>

        <!-- calendar 태그 -->
        <div id='calendar-container'>
            <div id='calendar' style="margin-bottom: 24px"></div>
        </div>

<!--        <div class="mt-8 mb-6">-->

<!--            <iframe th:src="@{'http://10.104.40.193:8080/superset/dashboard/3/?standalone=2&slice_id=4&member_id=' + ${member.id}}" width="100%" height="500" scrolling="false" ></iframe>-->

<!--        </div>-->

        <table id="supportTable" class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mt-8 mb-8">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">고객사</th>
                <th scope="col" class="px-6 py-3">제품명</th>
                <th scope="col" class="px-6 py-3">상태</th>
                <th scope="col" class="px-6 py-3">누적 지원시간</th>
            </tr>
            </thead>

            <tr th:each="data : ${aggregatedData}" class="border">
                <td class="px-6 py-4 text-black font-bold border" style="color: black" th:text="${data.customerName}"></td>
                <td class="px-6 py-4 border" th:text="${data.productName}"></td>
                <td class="px-6 py-4 border" th:text="${data.stateName}"></td>
                <td class="px-6 py-4 text-red-600 font-bold border" style="color: red; cursor: pointer;" th:text="${data.count}"
                    th:data-memberId="${member.id}"
                    th:data-customerId="${data.customerId}"
                    th:data-productId="${data.productId}"
                    th:data-stateId="${data.stateId}"
                    onclick="redirectToMemberInfoDetail(this)">
                </td>
            </tr>

        </table>
    </div>
</section>

<div th:replace="footer :: footer"></div>

<script th:inline="javascript">

    function redirectToMemberInfoDetail(element) {
        const memberId = element.getAttribute('data-memberId');
        const customerId = element.getAttribute('data-customerId');
        const productId = element.getAttribute('data-productId');
        const stateId = element.getAttribute('data-stateId');

        const url = `/memberInfoDetail?memberId=${memberId}&customerId=${customerId}&productId=${productId}&stateId=${stateId}`;
        window.location.href = url;
    }

    function mergeRows(tableId, columnIndex) {
        var table = document.getElementById(tableId);
        var rows = table.getElementsByTagName('tr');

        var currentRowValue = null;
        var rowSpan = 1;

        for (var i = 1; i < rows.length; i++) {
            var cell = rows[i].getElementsByTagName('td')[columnIndex];

            if (cell) {
                if (currentRowValue === cell.innerText) {
                    cell.style.display = 'none';
                    rowSpan++;
                    rows[i - rowSpan + 1].getElementsByTagName('td')[columnIndex].rowSpan = rowSpan;
                } else {
                    currentRowValue = cell.innerText;
                    rowSpan = 1;
                }
            }
        }
    }

    // 특정 열 인덱스에 따라 행 합치기
    mergeRows('supportTable', 0); // 0은 고객사 열의 인덱스를 나타냄

    const supports  = /*[[${supports }]]*/ [];

    (function () {
        $(function () {
            // calendar element 취득
            var calendarEl = $('#calendar')[0];
            // full-calendar 생성하기
            var calendar = new FullCalendar.Calendar(calendarEl, {
                height: '700px',
                expandRows: true,
                slotMinTime: '08:00',
                slotMaxTime: '20:00',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listWeek'
                },
                initialView: 'dayGridMonth',
                navLinks: true,
                editable: true,
                selectable: true,
                nowIndicator: true,
                dayMaxEvents: true,
                locale: 'ko'
            });

            // supports 리스트 가져오기
            var events = [];

            // supports 리스트 순회하여 events 배열에 데이터 추가
            supports.forEach(function (support) {
                var event = null;
                if (support.supportType != null){
                    var backgroundColor = support.supportType.calenderColor || '#007bff'; // 기본 색상 (null인 경우 기본 색상 사용)

                    event = {
                        title: support.customerName + " (" + support.supportType.name + " " + support.supportTypeHour + "h)",
                        start: support.supportDate,
                        backgroundColor: backgroundColor, // 색상 지정
                        url: '/details?supportId=' + support.id
                    };
                }
                else{
                    event = {
                        title: support.customerName + " (지원형태 없음)",
                        start: support.supportDate,
                        backgroundColor: '#007bff', // 색상 지정
                        url: '/details?supportId=' + support.id
                    };
                }
                events.push(event);

            });

            // 캘린더 랜더링 시 'events' 배열 사용
            calendar.setOption('events', events);

            // 캘린더 랜더링
            calendar.render();
        });
    })();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

</body>
</html>