<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

</head>
<body>
<div th:replace="header :: header"></div>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white" style="padding-bottom: 48px" th:text="${team.name}"></h2>
        <form action="/memberInfo" method="get"> <!-- Specify the action and method for the form -->
            <label for="member" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <select id="member" name="memberId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value="" selected>팀원을 선택해주세요.</option>
                <!-- Iterate over the issues list and add each issue's name as an option -->
                <th:block th:each="memp : ${memps}">
                    <option th:value="${memp.id}" th:text="${memp.name}"></option>
                </th:block>
            </select>

            <div style="display: flex; align-items: end; justify-content: flex-end;">
                <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-gray-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    팀원 정보 확인하기
                </button>
            </div>
        </form>

        <div id="container" class="w-full" style="display: grid">
            <div class="w-full relative overflow-x-auto mt-8">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            이름
                        </th>
                        <th scope="col" class="px-6 py-3">
                            직책
                        </th>
                        <th scope="col" class="px-6 py-3">
                            직급
                        </th>
                        <th scope="col" class="px-6 py-3">
                            처리 건수
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="memp : ${memps}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4" style="color: black" th:text="${memp.name}"></td>
                        <td class="px-6 py-4" th:text="${memp.position}"></td>
                        <td class="px-6 py-4" th:text="${memp.rank}"></td>
                        <td class="px-6 py-4 text-red-600" th:text="${engineerSupportCounts[memp.getId()]}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex">
                <div class="w-1/2 pr-2">
                    <div class="relative overflow-x-auto mt-8 ">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    제품명
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    처리 건수
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}" th:if="${productSupportCounts[product.getId()] > 0}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="px-6 py-4" style="color: black" th:text="${product.name}"></td>
                                <td class="px-6 py-4 text-red-600" th:text="${productSupportCounts[product.getId()]}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="w-1/2 pl-2" style="display: grid">
                    <div class="w-full relative overflow-x-auto mt-8">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    이슈
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    처리 건수
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="state : ${states}" th:if="${stateSupportCounts[state.getId()] > 0}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="px-6 py-4 text-gray-950" style="color: black" th:text="${state.name}"></td>
                                <td class="px-6 py-4 text-red-600" th:text="${stateSupportCounts[state.getId()]}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<div th:replace="footer :: footer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

</body>
</html>