<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 화면 해상도에 따라 글자 크기 대응(모바일 대응) -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- fullcalendar CDN -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <!-- fullcalendar 언어 CDN -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>

</head>
<body>
<div th:replace="header :: header"></div>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-4xl lg:py-16" style="align-items: center; display: grid; align-content: center; text-align: center">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white" style="padding-bottom: 48px" th:text="${team.name}"></h2>
        <form action="/memberInfo" method="get"> <!-- Specify the action and method for the form -->
            <label for="member" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <select id="member" name="memberId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value="" selected>팀원을 선택해주세요.</option>
                <!-- Iterate over the issues list and add each issue's name as an option -->
                <th:block th:each="memp : ${memps}">
                    <option th:value="${memp.id}" th:text="${memp.name}"></option>
                </th:block>
            </select>

            <div style="display: flex; align-items: end; justify-content: flex-end;">
                <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-gray-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    팀원 정보 확인하기
                </button>
            </div>
        </form>


        <div id="container" class="w-full" style="display: grid">

            <div class="mt-8" style="align-items: center; display: grid; align-content: center; text-align: center">

                <span class="mb-4 text-xl font-bold text-gray-700 dark:text-white" style="margin-bottom: 24px; font-size: large; text-align: left">지원내역 조회</span>

                <!-- calendar 태그 -->
                <div id='calendar-container'>
                    <div id='calendar' style="margin-bottom: 24px"></div>
                </div>
            </div>

            <div class="w-full relative overflow-x-auto mt-8">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            이름
                        </th>
                        <th scope="col" class="px-6 py-3">
                            직책
                        </th>
                        <th scope="col" class="px-6 py-3">
                            직급
                        </th>
                        <th scope="col" class="px-6 py-3">
                            처리 건수
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="memp : ${memps}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4" style="color: black" th:text="${memp.name}"></td>
                        <td class="px-6 py-4" th:text="${memp.position}"></td>
                        <td class="px-6 py-4" th:text="${memp.rank}"></td>
                        <td class="px-6 py-4 text-red-600" th:text="${engineerSupportCounts[memp.getId()]}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="flex">
                <div class="w-1/2 pr-2">
                    <div class="relative overflow-x-auto mt-8 ">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    제품명
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    처리 건수
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}" th:if="${productSupportCounts[product.getId()] > 0}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="px-6 py-4" style="color: black" th:text="${product.name}"></td>
                                <td class="px-6 py-4 text-red-600" th:text="${productSupportCounts[product.getId()]}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="w-1/2 pl-2" style="display: grid">
                    <div class="w-full relative overflow-x-auto mt-8">
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    이슈
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    처리 건수
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="state : ${states}" th:if="${stateSupportCounts[state.getId()] > 0}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <td class="px-6 py-4 text-gray-950" style="color: black" th:text="${state.name}"></td>
                                <td class="px-6 py-4 text-red-600" th:text="${stateSupportCounts[state.getId()]}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

<div th:replace="footer :: footer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<script th:inline="javascript">

    const supports  = /*[[${supports }]]*/ [];

    (function () {
        $(function () {
            // calendar element 취득
            var calendarEl = $('#calendar')[0];
            // full-calendar 생성하기
            var calendar = new FullCalendar.Calendar(calendarEl, {
                height: '700px',
                expandRows: true,
                slotMinTime: '08:00',
                slotMaxTime: '20:00',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listWeek'
                },
                initialView: 'dayGridMonth',
                navLinks: true,
                editable: true,
                selectable: true,
                nowIndicator: true,
                dayMaxEvents: true,
                locale: 'ko'
            });

            // supports 리스트 가져오기
            var events = [];

            // supports 리스트 순회하여 events 배열에 데이터 추가
            supports.forEach(function (support) {
                var event = null;
                if (support.supportType != null){
                    var backgroundColor = support.engineer.calenderColor || '#007bff'; // 기본 색상 (null인 경우 기본 색상 사용)

                    event = {
                        title: support.customerName + " (" + support.engineer.name + ")",
                        start: support.supportDate,
                        backgroundColor: backgroundColor, // 색상 지정
                        url: '/details?supportId=' + support.id
                    };
                }
                else{
                    event = {
                        title: support.customerName + " (지원형태 없음)",
                        start: support.supportDate,
                        backgroundColor: '#007bff', // 색상 지정
                        url: '/details?supportId=' + support.id
                    };
                }
                events.push(event);

            });

            // 캘린더 랜더링 시 'events' 배열 사용
            calendar.setOption('events', events);

            // 캘린더 랜더링
            calendar.render();
        });
    })();
</script>
</body>
</html>