<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>일정 편집</title>
</head>
<body>
<h1>일정 편집</h1>

<form th:action="@{/schedule/edit/{scheduleId}(scheduleId=${editSchedule.id})}" method="post" th:object="${editSchedule}">
    <label for="content">일정 제목:</label>
    <input type="text" id="content" name="content" th:field="*{content}">
    <br>
    <label for="date">일정 날짜:</label>
    <input type="date" id="date" name="date" th:field="*{date}">
    <br>
    <input type="hidden" id="teamId" name="teamId" th:value="${editSchedule.team.getId()}">
    <input type="submit" value="저장">
</form>
</body>
</html>
