<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="favicon" href="/templates/favicon.ico">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">

</head>
<body class="bg-gray-700 dark:bg-gray-900">
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div th:replace="header :: header"></div>
<section class="flex" style="height: 900px;">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">

        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <form class="space-y-4 md:space-y-6  grid" th:action="@{/account/login}" method="post">
                    <div class="flex">
                        <img src="/static/images/logo_onlylogo.svg" alt="Logo" width="62px">
                        <div class="inline">
                            <img src="/static/images/logo_onlytext.svg" alt="Logo" width="252px" >
                            <p style="text-shadow: dimgray; font-size: small; color: midnightblue" class="ml-2">Engineer Resource Management</p>
                        </div>
                    </div>
                    <div class="m-0">
                        <div class="flex m-0">
                            <div class="grid w-56">
                                <div>
                                    <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                                    <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="아이디" required="">
                                </div>
                                <div>
                                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                                    <input type="password" name="password" id="password" placeholder="비밀번호" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                                </div>


                            </div>
                            <button type="submit" style="box-shadow: 1px 1px 4px 1px gray;" class="w-32 mt-2 ml-2 text-white bg-gray-700 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">로그인</button>

                        </div>
                        <div class="grid items-center justify-between mt-2">
                            <div class="flex items-start">
                                <div class="flex items-center h-5">
                                    <input id="remember-me" aria-describedby="remember-me" name="remember-me" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800">
                                </div>
                                <div class="ml-3 text-sm">
                                    <label for="remember-me" class="text-gray-500 dark:text-gray-300">로그인 유지</label>
                                </div>
                            </div>
                            <div class="mt-4">
                                <p style="text-shadow: dimgray; font-size: x-small; color: midnightblue">비밀번호는 주기적으로 변경하십시오.</p>
                                <p style="text-shadow: dimgray; font-size: x-small; color: midnightblue">로그인 관련 문의는 담당 관리자에게 문의해주세요.</p>
                            </div>
                        </div>
                        <div th:if="${param.error}"  class="alert alert-danger text-sm text-red-600" role="alert">
                            Invalid username or password
                        </div>

                        <div th:if="${param.logout}"  class="alert alert-primary text-sm text-red-600" role="alert">
                            You have been logged out
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<style>
    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
</style>
</body>
</html>