<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="favicon" href="/static/images/favicon.ico">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>

</head>
<body >
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div th:replace="header :: header"></div>

<main style="display: grid; align-items: center; justify-items: center; padding: 48px; margin-top: 24px; margin-bottom: 48px">
    <div class="m-4">
        <iframe src="https://erm2.somansa.com/superset/dashboard/1/?standalone=2" width="1200" height="900" ></iframe>
    </div>

    <div class="m-4">
        <iframe src="https://erm2.somansa.com/superset/dashboard/2/?standalone=2" width="1200" height="700" ></iframe>
    </div>

</main>
<div th:replace="footer :: footer"></div>

<style>

</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>


<style>
    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
</style>
</body>
</html>