<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
</head>

<body>
<div th:replace="header :: header"></div>

<section class="bg-white dark:bg-gray-900" style="padding: 96px; padding-left: 120px; padding-right: 120px">

    <div>
        <iframe src="https://erm2.somansa.com/superset/dashboard/1/?standalone=2&slice_id=4" width="100%" height="900" ></iframe>
        <iframe src="https://erm2.somansa.com/superset/dashboard/2/?standalone=2&slice_id=4" width="100%" height="700" ></iframe>
    </div>
<!--    <div class="flex" style="background-color: #F7F7F7; padding: 32px" >-->
<!--        <div style="width: 50%; background-color: white; display: flex; justify-content: center; align-items: center;">-->
<!--            <canvas id="overallRadarChart"></canvas>-->
<!--        </div>-->
<!--        <div style="width: 50%; background-color: white; display: flex; justify-content: center; align-items: center;">-->
<!--            <canvas id="teamRadarChart"></canvas>-->
<!--        </div>-->
<!--    </div>-->
</section>
<div th:replace="footer :: footer"></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<script th:inline="javascript">
    var stateNames = /*[[${stateNames}]]*/ ;
    var overallSupportTypeHourSums = /*[[${overallSupportTypeHourSums}]]*/ ;
    var teamDataMap = /*[[${teamDataMap}]]*/ ;

    var overallCtx = document.getElementById('overallRadarChart').getContext('2d');
    var teamCtx = document.getElementById('teamRadarChart').getContext('2d');

    // 전체 데이터셋 추가
    var overallDataset = [{
        label: "overall",
        width: '50%',
        data: overallSupportTypeHourSums,
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgba(255, 99, 132, 1)',
        borderWidth: 2
    }];

    // 팀별 데이터셋 추가
    // 미리 정의된 팀 색상 배열
    var teamColors = [
        'rgba(255, 99, 132, 0.2)', // 붉은색
        'rgba(75, 192, 192, 0.2)', // 청록색
        'rgba(54, 162, 235, 0.2)', // 파란색
        'rgba(255, 159, 64, 0.2)', // 주황색
        'rgba(153, 102, 255, 0.2)', // 보라색
        'rgba(255, 205, 86, 0.2)', // 노란색
        'rgba(220, 20, 60, 0.2)',  // 크림슨
        'rgba(0, 128, 0, 0.2)'     // 녹색
    ];

    var teamDatasets = [];
    var colorIndex = 0;

    for (var teamName in teamDataMap) {
        var color = teamColors[colorIndex % teamColors.length]; // 색상을 반복해서 할당
        colorIndex++;

        teamDatasets.push({
            label: teamName,
            data: teamDataMap[teamName],
            backgroundColor: color,
            borderColor: color,
            borderWidth: 2
        });
    }

    // Radar Chart 생성
    var overallRadarChart = new Chart(overallCtx, {
        type: 'radar',
        data: {
            labels: stateNames,
            datasets: overallDataset
        },
        options: {
            scales: {
                r: {
                    pointLabels: {
                        font: {
                            size: 14 // 글꼴 크기 설정
                        }
                    }
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: "연간 기술본부 업무 집중도 분석",
                    font: {
                        size: 18 // 제목 글꼴 크기 설정
                    }
                },
                legend: {
                    display: true,
                    labels: {
                        font: {
                            size: 12 // 레전드 글꼴 크기 설정
                        }
                    }
                }
            }
        }
    });

    overallCtx.canvas.style.width = "50%";

    var teamRadarChart = new Chart(teamCtx, {
        type: 'radar',
        data: {
            labels: stateNames,
            datasets: teamDatasets
        },
        options: {
            scales: {
                r: {
                    pointLabels: {
                        font: {
                            size: 14 // 글꼴 크기 설정
                        }
                    }
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: "연간 팀별 업무 집중도 분석",
                    font: {
                        size: 18 // 제목 글꼴 크기 설정
                    }
                },
                legend: {
                    display: true,
                    labels: {
                        font: {
                            size: 12 // 레전드 글꼴 크기 설정
                        }
                    }
                }
            }
        }
    });

    teamRadarChart.canvas.style.width = "50%";

</script>

<style>
    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
</style>
</body>
</html>