<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <!-- jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- fullcalendar CDN -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <!-- fullcalendar 언어 CDN -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <link rel="favicon" href="/templates/favicon.ico">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">

</head>
<body>
<div th:replace="header :: header"></div>
<!-- Breadcrumb -->

<section class="bg-white dark:bg-gray-900" style="padding-top: 48px">

    <nav style="height: 62px" class="justify-between h-16 px-4 py-3 text-gray-700 border border-gray-200 rounded-lg sm:flex sm:px-5 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
        <ol class="inline-flex items-center mb-3 space-x-1 md:space-x-3 sm:mb-0">
            <li>
                <div class="flex items-center">
                    <a th:href="'/team?departmentId='+${department.id}" class="font-bold ml-1 text-sm text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white" th:text="${department.name}"></a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <a th:href="'/teamInfo?teamId='+${team.id}" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white" th:text="${team.name}"></a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
<!--                    <span class="mx-1 text-sm font-medium text-gray-500 md:mx-2 dark:text-gray-400" th:text="${member.name}"></span><span th:text="${member.getRank()}" class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 hidden sm:flex"></span>-->
                </div>
            </li>
            <li class="ml-auto">
                <button id="dropdownDefault" data-dropdown-toggle="dropdown" class="inline-flex items-center px-3 py-2 text-sm font-normal text-center text-gray-600 bg-gray-200 rounded-lg hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-300 dark:focus:ring-gray-700"><svg class="w-3 h-3 mr-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 20">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 5v10M3 5a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm0 10a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm9-10v.4A3.6 3.6 0 0 1 8.4 9H6.61A3.6 3.6 0 0 0 3 12.605M14.458 3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Z"/>
                </svg><span th:text="${member.name}"></span><svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                </svg></button>
                <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
                        <li th:each="memp : ${memps}">
                            <a th:href="'/memberInfo?memberId='+${memp.id}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" th:text="${memp.name}"></a>
                        </li>
                    </ul>
                </div>
            </li>
        </ol>

    </nav>

    <div class="py-8 px-4 mx-auto max-w-4xl lg:py-16" style="align-items: center; display: grid; align-content: center; text-align: center">
        <hr style="margin-bottom: 48px">
        <div style="display: flex">
            <span class="mb-4 text-xl font-bold text-gray-400 dark:text-white mr-2.5 align-bottom" style="font-size: medium; text-align: left" th:text="${team.name}"></span>
            <span class="mb-4 text-xl font-bold text-gray-900 dark:text-white" style="margin-bottom: 48px; font-size: x-large; text-align: left" th:text="${member.name}"></span>
        </div>

        <hr style="margin-bottom: 48px">

        <span class="mb-4 text-xl font-bold text-gray-700 dark:text-white" style="margin-bottom: 24px; font-size: large; text-align: left">지원내역 조회</span>

        <!-- calendar 태그 -->
        <div id='calendar-container'>
            <div id='calendar' style="margin-bottom: 24px"></div>
        </div>
        <div class="skeleton mt-8 mb-6" style="background-color: #F7F7F7;">

            <iframe th:src="${@environment.getProperty('superset.server')} + ${@environment.getProperty('superset.memberinfo')} + ${member.id} " width="100%" height="450" ></iframe>
<!--            <iframe th:src="@{'https://err2.somansa.com/superset/dashboard/3/?standalone=2&slice_id=4&member_id=' + ${member.id} }" width="100%" height="500" ></iframe>-->

        </div>

        <table id="supportTable" class="w-full text-sm text-left text-gray-500 dark:text-gray-400 mt-8 mb-8">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">고객사</th>
                <th scope="col" class="px-6 py-3">제품명</th>
                <th scope="col" class="px-6 py-3">상태</th>
                <th scope="col" class="px-6 py-3">누적 지원시간</th>
            </tr>
            </thead>

            <tr th:each="data : ${aggregatedData}" class="border">
                <td class="px-6 py-4 text-black font-bold border" style="color: black" th:text="${data.customerName}"></td>
                <td class="px-6 py-4 border" th:text="${data.productName}"></td>
                <td class="px-6 py-4 border" th:text="${data.stateName}"></td>
                <td class="px-6 py-4 text-red-600 font-normal border" style="color: red; cursor: pointer;" th:text="${data.count} + 'h'"
                    th:data-memberId="${member.id}"
                    th:data-customerId="${data.customerId}"
                    th:data-productId="${data.productId}"
                    th:data-stateId="${data.stateId}"
                    onclick="redirectToMemberInfoDetail(this)">
                </td>
            </tr>

        </table>
    </div>
</section>

<div th:replace="footer :: footer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

<script th:inline="javascript">

    function redirectToMemberInfoDetail(element) {
        const memberId = element.getAttribute('data-memberId');
        const customerId = element.getAttribute('data-customerId');
        const productId = element.getAttribute('data-productId');
        const stateId = element.getAttribute('data-stateId');

        const url = `/memberInfoDetail?memberId=${memberId}&customerId=${customerId}&productId=${productId}&stateId=${stateId}`;
        window.location.href = url;
    }

    function mergeRows(tableId, columnIndex) {
        var table = document.getElementById(tableId);
        var rows = table.getElementsByTagName('tr');

        var currentRowValue = null;
        var rowSpan = 1;

        for (var i = 1; i < rows.length; i++) {
            var cell = rows[i].getElementsByTagName('td')[columnIndex];

            if (cell) {
                if (currentRowValue === cell.innerText) {
                    cell.style.display = 'none';
                    rowSpan++;
                    rows[i - rowSpan + 1].getElementsByTagName('td')[columnIndex].rowSpan = rowSpan;
                } else {
                    currentRowValue = cell.innerText;
                    rowSpan = 1;
                }
            }
        }
    }

    // 특정 열 인덱스에 따라 행 합치기
    mergeRows('supportTable', 0); // 0은 고객사 열의 인덱스를 나타냄

    const supports  = /*[[${supports }]]*/ [];

    (function () {
        $(function () {
            // calendar element 취득
            var calendarEl = $('#calendar')[0];
            // full-calendar 생성하기
            var calendar = new FullCalendar.Calendar(calendarEl, {
                height: '700px',
                expandRows: true,
                slotMinTime: '08:00',
                slotMaxTime: '20:00',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listWeek'
                },
                initialView: 'dayGridMonth',
                navLinks: true,
                editable: true,
                selectable: true,
                nowIndicator: true,
                dayMaxEvents: true,
                locale: 'ko'
            });

            // supports 리스트 가져오기
            var events = [];

            // supports 리스트 순회하여 events 배열에 데이터 추가
            supports.forEach(function (support) {
                var event = null;
                if (support.supportType != null){
                    var backgroundColor = support.supportType.calenderColor || '#007bff'; // 기본 색상 (null인 경우 기본 색상 사용)

                    event = {
                        title: support.customer.name + " (" + support.supportType.name + " " + support.supportTypeHour + "h)",
                        start: support.supportDate,
                        backgroundColor: backgroundColor, // 색상 지정
                        url: '/details?supportId=' + support.id
                    };
                }
                else{
                    event = {
                        title: support.customer.name + " (지원형태 없음)",
                        start: support.supportDate,
                        backgroundColor: '#007bff', // 색상 지정
                        url: '/details?supportId=' + support.id
                    };
                }
                events.push(event);

            });

            // 캘린더 랜더링 시 'events' 배열 사용
            calendar.setOption('events', events);

            // 캘린더 랜더링
            calendar.render();
        });
    })();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<style>
    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

    .skeleton * {
        background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: load 1s infinite;
    }

    @keyframes load {
        100% {
            background-position: -100% 0;
        }
    }


</style>
</body>
</html>