<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="favicon" href="/templates/favicon.ico">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">

</head>
<body>
<div th:replace="header :: header"></div>

<section class="bg-white dark:bg-gray-900" style="padding-top: 48px">
    <nav style="height: 62px" class="justify-between h-16 px-4 py-3 text-gray-700 border border-gray-200 rounded-lg sm:flex sm:px-5 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
        <ol class="inline-flex items-center mb-3 space-x-1 md:space-x-3 sm:mb-0">
            <li>
                <div class="flex items-center">
                    <a th:href="'/department?divisionId='+${division.id}" class="font-bold ml-1 text-sm text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white" th:text="${division.name}"></a>
                </div>
            </li>
        </ol>
    </nav>
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white" style="padding-bottom: 48px">소속 선택</h2>
        <form id="selectForm" action="/team" method="get">
            <label for="department" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <select id="department" size="2" name="departmentId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <th:block th:each="department, iterStat : ${departments}">
                    <option th:value="${department.id}" th:text="${department.name}" th:selected="${iterStat.index == 0}" ></option>
                </th:block>
            </select>

            <div style="display: flex; align-items: end; justify-content: flex-end;">
                <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-gray-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    소속 정보 확인하기
                </button>
            </div>
        </form>
    </div>

    <div class="skeleton mt-8 mb-6" style="background-color: #F7F7F7;">
        <iframe class="skeleton iframe-pc" th:src="${@environment.getProperty('superset.server')} + ${@environment.getProperty('superset.department')} + ${division.id}" width="100%" height="1400" ></iframe>
        <iframe class="skeleton iframe-mobile hidden" th:src="${@environment.getProperty('superset.server')} + ${@environment.getProperty('superset.department-mobile')}  + ${division.id}" width="100%" height="1400" ></iframe>
    </div>
</section>

<div th:replace="footer :: footer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('selectForm');
        form.addEventListener('submit', function (event) {
            const selectedDepartment = document.getElementById('department').value;
            if (!selectedDepartment) {
                event.preventDefault();
                alert('소속을 선택해주세요.');
            }
        });
    });
</script>
<style>
    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

    .skeleton * {
        background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: load 1s infinite;
    }

    @keyframes load {
        100% {
            background-position: -100% 0;
        }
    }

    @media (max-width: 1064px) {

        .iframe-pc {
            display: none;
        }

        .iframe-mobile {
            display: block;
        }
    }
</style>
</body>
</html>