<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <link rel="favicon" href="/templates/favicon.ico">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
</head>
<body>
<div th:replace="header :: header"></div>

<section class="bg-white dark:bg-gray-900" style="padding-top: 48px">
    <!--    페이지 상단 선택된 본부와 소속(실), 팀-->
    <nav style="height: 62px" class="justify-between px-4 py-3 text-gray-700 border border-gray-200 rounded-lg sm:flex sm:px-5 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
        <ol class="inline-flex items-center mb-3 space-x-1 md:space-x-3 sm:mb-0">
            <li>
                <div class="flex items-center">
                    <a th:href="'/department?divisionId='+${division.id}" class="font-bold ml-1 text-sm text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white" th:text="${division.name}"></a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <a th:href="'/team?departmentId='+${department.id}" class="ml-1 text-sm text-gray-700 font-medium hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white" th:text="${department.name}"></a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <svg class="w-3 h-3 mx-1 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
                    </svg>
                    <a th:href="'/teamInfo?teamId='+${team.id}" class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white" th:text="${team.name}"></a>
                </div>
            </li>
        </ol>
    </nav>
<!--    엔지니어 검색-->
    <div class="pt-16 px-4 mx-auto max-w-4xl" style="align-items: center; display: grid; align-content: center; text-align: center">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white" style="padding-bottom: 48px" th:text="${team.name}"></h2>

        <form id="selectForm" action="/memberInfo" method="get">
            <label for="member" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <select id="member" size="3" name="memberId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <th:block th:each="memp, iterStat : ${memps}">
                    <option th:value="${memp.id}" th:text="${memp.name}" th:selected="${iterStat.index == 0}" th:attr="data-active=${memp.active}"></option>
                </th:block>
            </select>


            <div style="display: flex; align-items: end; justify-content: flex-end;">
                <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-gray-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    팀원 정보 확인하기
                </button>
            </div>
        </form>

<!--        뷰 선택 버튼-->
        <ul class="flex flex-wrap mt-8 text-sm font-medium text-center text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400">
            <li class="mr-2">
                <button type="button" id="visibleBtn" style="display: none"
                        class="inline-block p-4 text-blue-700 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500"></button>
            </li>
            <li>
                <button type="button" id="supportListViewBtn"
                        class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">
                    지원내역
                </button>
            </li>

            <li>
                <button type="button" id="dashboardViewBtn"
                        class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300">
                    지원현황
                </button>
            </li>
        </ul>
    </div>

    <div class="justify-center items-center pb-16">
<!--        현재 팀 지원내역 뷰-->
        <div id="supportListView" class="container mx-auto p-4">
            <div style=" margin: 0; padding: 0; box-sizing: border-box; display: grid; grid-template-columns: 1fr 3fr 1fr;">
                <div class="flex-1 p-4"></div>
                <div class="flex-5 p-4">
                    <div class="block">
                        <form class="block mb-10" th:action="@{/teamInfo}" >
                            <div class=" w-full" style="justify-content: flex-end;">
                                <input name="teamId" th:value="${team.id}" class="hidden">
                                <div date-rangepicker class="flex" style="vertical-align: bottom; align-self: flex-end;">
                                    <input th:value="${startDate}" name="startDate" id="startDate" type="date" class="h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block pl-4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date start">
                                    <div class="p-4 items-center justify-center">
                                        <svg class="w-2 h-2 text-gray-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                        </svg>
                                    </div>
                                    <input th:value="${endDate}" name="endDate" id="endDate" type="date" class="h-10 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block pl-4 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date end">

                                    <button class="h-10 ml-1 py-2 px-4 text-sm font-medium text-white focus:outline-none bg-gray-500 rounded-lg border border-gray-200 hover:bg-gray-700 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="submit">
                                        적용
                                    </button>
                                </div>
                            </div>

                        </form>

                        <div id='calendar-container'>
                            <div id='calendar' style="margin-bottom: 24px"></div>
                        </div>

                        <div class="w-full" style="justify-content: flex-end;">
                            <button id="csvDownloadBtn" type="button" class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30 me-2 mb-2">
                                <svg class="w-4 h-4 mr-1 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 18">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3"/>
                                </svg>
                                금주 작업내역 추출
                            </button>
                        </div>

                    </div>
                </div>
                <div class="flex-1 p-4"></div>
            </div>
        </div>
<!--        현재 팀 대상 슈퍼셋 (iframe)-->
        <div id="dashboardView">
            <div class="skeleton mt-8 mb-6" style="background-color: #F7F7F7;">
                <iframe class="iframe-pc" th:src="${@environment.getProperty('superset.server')} + ${@environment.getProperty('superset.team')} + ${team.id}" width="100%" height="500" ></iframe>
                <iframe class="iframe-mobile hidden" th:src="${@environment.getProperty('superset.server')} + ${@environment.getProperty('superset.team-mobile')} + ${team.id}" width="100%" height="450" ></iframe>
            </div>
        </div>
    </div>

</section>

<div th:replace="footer :: footer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script th:inline="javascript">

    const visibleBtn = document.getElementById("visibleBtn");
    const dashboardViewBtn = document.getElementById("dashboardViewBtn");
    const supportListViewBtn = document.getElementById("supportListViewBtn");
    const dashboardView = document.getElementById("dashboardView");
    const supportListView = document.getElementById("supportListView");

    const selectedClass = visibleBtn.className;
    const unselectedClass = supportListViewBtn.className;

    const team = [[${team}]];


    document.getElementById("csvDownloadBtn").addEventListener("click", function () {
        excelPrint();
    });

    console.log(team);
    function excelPrint() {
        fetch('/export/' + team.id, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
            },
        })
            .then(response => response.blob())
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = team.name + '_주간작업추출';
                document.body.appendChild(a);
                a.click();
                window.URL.revokeObjectURL(url);
            })
            .catch(error => {
                console.error('Error generating EXCEL:', error);
            });
    }


    $(document).ready(function () {

        // 새로고침 시 url 해시 값을 통해 기존 뷰 페이지로 돌아감
        if (window.location.hash === '#supportListViewBtn') { // 일정 변경 뷰
            const supportListViewBtn = document.getElementById("supportListViewBtn");
            supportListViewBtn.click();
            removeLocationHash();
        } else if (window.location.hash === '#supportListView') { // 지원내역 조회 뷰
            const supportListViewBtn = document.getElementById("supportListViewBtn");
            supportListViewBtn.click();
            removeLocationHash();
        }

    });

    document.addEventListener("DOMContentLoaded", function () {

        supportListViewBtn.className = selectedClass;
        supportListView.style.display = "block";
        dashboardView.style.display = "none";

        dashboardViewBtn.addEventListener("click", function () {
            dashboardView.style.display = "block";
            supportListView.style.display = "none";
            dashboardViewBtn.className = selectedClass;
            supportListViewBtn.className = unselectedClass;
        });

        supportListViewBtn.addEventListener("click", function () {
            dashboardView.style.display = "none";
            supportListView.style.display = "block";
            dashboardViewBtn.className = unselectedClass;
            supportListViewBtn.className = selectedClass;
        });

    });


    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('selectForm');
        form.addEventListener('submit', function (event) {
            const selectedMember = document.getElementById('member').value;
            if (!selectedMember) {
                event.preventDefault();
                alert('팀원을 선택해주세요.');
            }
        });

        var selectForm = document.getElementById('selectForm');
        var memberSelect = document.getElementById('member');

        memberSelect.addEventListener('dblclick', function () {
            // 더블클릭 시 폼을 제출합니다.
            selectForm.submit();
        });
    });

    const supports  = /*[[${supports }]]*/ [];

    (function () {
        $(function () {
            // calendar element 취득
            var calendarEl = $('#calendar')[0];
            // full-calendar 생성하기
            var calendar = new FullCalendar.Calendar(calendarEl, {
                height: '700px',
                expandRows: true,
                slotMinTime: '08:00',
                slotMaxTime: '20:00',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,listWeek'
                },
                initialView: 'dayGridMonth',
                navLinks: true,
                editable: false,
                selectable: false,
                nowIndicator: true,
                dayMaxEvents: true,
                locale: 'ko',
            });

            var events = [];

            var eventDidMount = function(info) {
                tippy(info.el, {
                    content:  '[작업요약] \n' + info.event.extendedProps.description,//이벤트 디스크립션을 툴팁으로 가져옵니다.
                });
            }

            supports.forEach(function (support) {
                var event = null;
                if (support.supportType != null){
                    var backgroundColor = support.engineer.calenderColor || '#007bff'; // 기본 색상 (null인 경우 기본 색상 사용)

                    event = {
                        title: support.engineer.name +  ", [" + support.project?.client?.name  + "] "   + support.taskTitle  + " (" +  support.supportType.name + " " + support.supportTypeHour + "h) ",
                        description: support.taskSummary,
                        start: support.supportDate,
                        backgroundColor: backgroundColor, // 색상 지정
                        url: '/details?supportId=' + support.id
                    };
                }
                else{
                    event = {
                        title: support.taskTitle  + " (지원형태 없음) "  +support.engineer.name,
                        start: support.supportDate,
                        description: support.taskSummary,
                        backgroundColor: '#007bff', // 색상 지정
                        url: '/details?supportId=' + support.id
                    };
                }
                events.push(event);

            });

            calendar.setOption('eventDidMount', eventDidMount);
            calendar.setOption('events', events);

            calendar.render();
        });
    })();
</script>
<style>
    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

    .skeleton * {
        background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: load 1s infinite;
    }

    @keyframes load {
        100% {
            background-position: -100% 0;
        }
    }

    @media (max-width: 1064px) {

        .iframe-pc {
            display: none;
        }

        .iframe-mobile {
            display: block;
        }

        .fc .fc-button {
            padding : .1em .3em;
        }

        .fc-toolbar-title {
            font-size: x-large;
        }

        .flex-1 {
            display: none;
        }

        .flex-5{
            width: 100%;
        }

    }


</style>
</body>
</html>