<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="favicon" href="/templates/favicon.ico">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">

</head>
<body class="bg-gray-100">
<div th:replace="header :: header"></div>
<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased" style="padding-top: 48px; padding-bottom: 84px">


    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">

            <div class="max-h-64 overflow-hidden">
                <div class="flex-row md:flex-col items-center justify-start space-y-3 md:space-y-0 md:space-x-1 p-4">
                    <div style="display: flex; flex-wrap: wrap; flex-direction: row; margin-bottom: 8px">
                        <span class="bg-red-100 text-red-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"  th:text="${member.getName()}"></span>
                        <span class="bg-green-100 text-green-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"  th:text="${customer.getName()}"></span>
                        <span class="bg-yellow-100 text-yellow-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-red-900 dark:text-red-300"  th:text="${state.getName()}"></span>
                    </div>
                </div>

                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" style="table-layout: fixed; width: 100%;">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-4 py-3 w-2/12" style="width: 25%">프로젝트명</th>
                        <th scope="col" class="px-4 py-3 w-2/12" style="width: 15%">제품명</th>
                        <th scope="col" class="px-4 py-6 w-4/12" style="width: 45%">작업제목</th>
                        <th scope="col" class="px-4 py-3 w-2/12" style="width: 15%">지원일자</th>
                        <th scope="col" class="px-4 py-3 w-2/12" style="width: 15%">담당엔지니어</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="post : ${posts}" class="border-b dark:border-gray-700">
                        <td class="th-pt px-4 py-3 projectName" th:text="${post.getProject().getName()}"></td>
                        <td class="th-p0 px-4 py-3 productName" >
                            <span th:unless="${post.productName.equals('-')}" class="bg-blue-100 text-blue-800 text-xs font-medium px-2 py-0.5 rounded dark:bg-primary-900 dark:text-primary-300"
                                  th:text="${post.productName}">제품명</span>
                        </td>
                        <td class=" px-4 py-3 text-gray-900 whitespace-nowrap dark:text-white task-title-column min-w-[12rem]">
                            <a th:href="@{/details(supportId=${post.id})}" class="hover:text-primary-700 dark:hover:text-primary-500">
                                <!-- 글자수를 최대 10자로 제한, NULL값 처리 -->
                                <span style="font-weight: 600" th:text="${(post.taskTitle != null && post.taskTitle.trim().length() > 0) ? (post.taskTitle.length() > 30 ? post.taskTitle.substring(0, 30) + '...' : post.taskTitle) : (post.taskSummary.length() > 30 ? post.taskSummary.substring(0, 30) + '...' : post.taskSummary)}"></span>
                            </a>
                        </td>
                        <td class="th-p0 px-4 py-3" th:text="${post.supportDate}">2020-01-01</td>
                        <td class="th-pb px-4 py-3" th:text="${post.engineerName}">엔지니어</td>
                    </tr>
                    </tbody>
                </table>


            </div>

            <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${posts.totalElements > 0} ? ${posts.pageable.offset + 1} : 0">1</span>
        -
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${posts.totalElements > 0} ? ${posts.pageable.offset + posts.size} : 0">10</span>
        of
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${posts.totalElements}">0</span>
    </span>
                <ul class="inline-flex items-stretch -space-x-px">
                    <li>
                        <a href="#" id="prevBtn" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Previous</span>
                            <svg class="w-5 h-5 " aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                    <!-- 페이지 번호를 반복하여 링크 생성 -->
                    <!-- Determine the current group number (e.g., 0 for 1-10, 1 for 11-20, etc.) -->
                    <th:block th:with="currentGroupNo=${currentPage/5}">

                        <!-- Calculate the start and end page numbers for the current group -->
                        <th:block th:with="startPageNo=${currentGroupNo*5 + 1}, endPageNo=${(currentGroupNo + 1)*5}">

                            <!-- Iterate over the page numbers in the current group -->
                            <li th:each="pageNo : ${#numbers.sequence(startPageNo, endPageNo)}" th:if="${pageNo <= totalPages}">
                                <!-- 현재 URL에서 쿼리 매개변수 추출 -->
                                <th:block th:with="currentParams=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().replaceQueryParam('page', null).build().toUri().query}">
                                    <!-- 페이지 링크에 페이지 및 필터링 매개변수 추가 -->
                                    <a th:href="@{/memberInfoDetail(page=${pageNo})} + @{${currentParams} != null ? '&amp;' + ${currentParams} : ''}"
                                       th:classappend="${pageNo} == ${currentPage+1} ? 'font-semibold active flex items-center justify-center text-sm py-2 px-3 leading-tight text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'"
                                       th:text="${pageNo}">
                                    </a>
                                </th:block>
                            </li>

                        </th:block>

                    </th:block>
                    <li>
                        <a href="#" id="nextBtn" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <span class="sr-only">Next</span>
                            <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</section>

<div th:replace="footer :: footer"></div>

<style>

    /* Mobile responsive styles */
    @media (max-width: 640px) {

        .th-p0 {
            padding-top: 0;
            padding-bottom: 0;
            font-size: 12px;
        }

        .th-pb {
            padding-top: 0;
            font-size: 12px;
        }

        .th-pt {
            padding-bottom: 0;
            font-size: 12px;
        }

        .productName{
            display: none;
        }

        .projectName{
            display: none;
        }

        table {
            width: 100%;
        }

        tbody {
            width: 100%;
        }

        th,
        td {
            display: block;
            text-align: left;
        }

        th {
            font-weight: bold;
            display: none; /* Hide table header on mobile */

        }

        tbody tr {
            margin-bottom: 5px;
        }

        tbody tr:last-child {
            margin-bottom: 0;
        }

        th,
        td {
            padding: 0;
        }

        tbody,
        td{
            padding: 0;
        }


        #filterBtn{
            margin: 0px;
            width: 100%;
        }

    }

</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<script th:inline="javascript">

    const currentPage = /*[[${currentPage }]]*/;
    const totalPages = /*[[${totalPages }]]*/;

    function getCurrentURLParams() {
        const urlParams = new URLSearchParams(window.location.search);
        const queryParams = {};
        urlParams.forEach((value, key) => (queryParams[key] = value));
        return queryParams;
    }

    document.addEventListener('DOMContentLoaded', function () {
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');

        prevBtn.addEventListener('click', function (event) {
            event.preventDefault();
            if (currentPage >= 5) {
                const prevPage = ( parseInt( (currentPage - 5)/5)) * 5;
                const currentParams = getCurrentURLParams();
                currentParams['page'] = prevPage+1;
                window.location.href = '/memberInfoDetail?' + new URLSearchParams(currentParams).toString();
            }
        });

        nextBtn.addEventListener('click', function (event) {
            event.preventDefault();

            if (Math.floor(currentPage/5) < Math.floor((totalPages-1)/5) ) {
                const nextPage = ( parseInt( (currentPage + 5)/5) ) * 5;

                const currentParams = getCurrentURLParams();
                currentParams['page'] = nextPage+1;
                window.location.href = '/memberInfoDetail?' + new URLSearchParams(currentParams).toString();
            }
        });
    });

</script>
<style>
    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
</style>
</body>
</html>