<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="favicon" href="/templates/favicon.ico">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
    <title>실적 조회</title>
</head>
<body>
<div th:replace="header :: header"></div>
<section class="bg-white dark:bg-gray-900">
    <div class="mt-14 py-8 px-4 mx-auto max-w-4xl lg:py-8"
         style="align-items: center; display: grid; align-content: center; text-align: center">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white" style="padding-bottom: 48px">실적 조회</h2>
    </div>
    <!--    실적조회 슈퍼셋 (iframe)-->
    <div class="skeleton" style="background-color: #F7F7F7;">
        <iframe class="iframe-pc"
                th:src="${@environment.getProperty('superset.server')} + ${@environment.getProperty('superset.performance-inquiry')}"
                width="100%" height="600"></iframe>
    </div>

</section>

<div th:replace="footer :: footer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<script th:inline="javascript">

</script>
<style>
    * {
        font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    }

    .skeleton * {
        background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: load 1s infinite;
    }

    @keyframes load {
        100% {
            background-position: -100% 0;
        }
    }

</style>
</body>
</html>