<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.9/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

    <style>
        * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
    </style>
</head>
<body>

<!-- 프로젝트 등록 모달 -->
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto" style="align-items: center; align-content: center; ">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5" style="align-self: center;">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    프로젝트 신규 등록
                </h3>
                <button type="button"  id="closeButton" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div>
                <div class="grid gap-4 mb-4 sm:grid-cols-2">
                    <div>
                        <label for="projectName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">프로젝트명</label>
                        <input type="text" name="projectName" id="projectName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="라이센스 센터 기준 프로젝트명을 입력해주세요." required="">
                    </div>
                    <div>
                        <label for="clientName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">고객사명</label>
                        <input type="text" name="clientName" id="clientName" list="customerList" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="라이센스 센터 기준 고객사명을 입력해주세요." required="">
                        <datalist id="customerList">
                            <option th:each="client : ${clients}" th:value="${client.name}" ></option>
                        </datalist>
                    </div>
                    <div>
                        <select id="productId" name="productId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option value="" selected>제품명을 선택해주세요.</option>
                            <!-- Iterate over the issues list and add each issue's name as an option -->
                            <th:block th:each="product : ${products}">
                                <option th:unless="${product.id == 24}" th:value="${product.id}" th:text="${product.name}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div>
                        <select id="teamId" name="teamId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option value="" selected>담당 팀을 선택해주세요.</option>
                            <!-- Iterate over the issues list and add each issue's name as an option -->
                            <th:block th:each="team : ${teams}">
                                <option th:value="${team.id}" th:text="${team.name}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div>
                        <label for="engineer" class="mt-2.5 block mb-2 text-sm font-medium text-gray-900 dark:text-white">담당 엔지니어 (정) *</label>
                        <input type="text" id="engineer" name="engineerName" th:value="${user.name}" list="engineerList" th:attr="placeholder='필수 작성'" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <datalist id="engineerList">
                            <option th:each="memp : ${memps}" th:value="${memp.name}" ></option>
                        </datalist>
                    </div>
                    <div>
                        <label for="subEngineer" class="mt-2.5 block mb-2 text-sm font-medium text-gray-900 dark:text-white">담당 엔지니어 (부)</label>
                        <input type="text" id="subEngineer" name="subEngineerName" list="engineerList" th:attr="placeholder='선택 작성'" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                        <datalist id="subEngineerList">
                            <option th:each="memp : ${memps}" th:value="${memp.name}" ></option>
                        </datalist>
                    </div>
                    <div class="sm:col-span-2" >
                        <label for="startDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">시작일</label>
                        <input type="date" name="startDate" id="startDate" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    </div>
                    <div class="sm:col-span-2" >
                        <label for="finishDate" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">종료일</label>
                        <input type="date" name="finishDate" id="finishDate" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    </div>
                    <div class="sm:col-span-2" >
                        <label for="uniqueCode" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">고유코드</label>
                        <input type="text" name="uniqueCode" id="uniqueCode" placeholder="라이센스 센터 기준 고유코드를 입력해주세요." required="" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                    </div>
                </div>
                <div style="display: flex; justify-content:flex-end ">
                    <div class="flex items-center h-5">
                        <input id="direct-select" aria-describedby="direct-select" name="direct-select" type="checkbox" checked class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800">
                    </div>
                    <div class="ml-2 mr-3 text-sm">
                        <label for="direct-select" class="text-gray-500 dark:text-gray-300">이 프로젝트 바로 적용</label>
                    </div>
                    <button type="button" id="projectCreateBtn" class="text-white inline-flex items-center bg-gray-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 ">
                        <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                        등록하기
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased" style="padding-top: 48px; padding-bottom: 84px">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex flex-col items-center justify-between p-4 space-y-3 md:flex-row md:space-y-0 md:space-x-4">
                <div class="w-full" id="list_header" style="justify-items: end; align-items: end">
                    <form class="flex items-center flex" onsubmit="return submitSearch(event)">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div id="search-container" class="relative w-1/2">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <input type="text" id="simple-search" class="block w-full p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="프로젝트명, 고객사명 또는 고유코드로 검색" required="">
                        </div>
                        <button type="submit" class="ml-3 px-4 py-2 text-sm font-medium text-white bg-gray-600 border border-transparent rounded-lg shadow-sm hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                            Search
                        </button>
                        <button id="defaultModalButton" data-modal-toggle="defaultModal" class="ml-3 text-white bg-gray-400 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800" type="button">
                            프로젝트 신규 등록
                        </button>
                    </form>


                </div>
            </div>
            <div class="flex-row md:flex-col items-center justify-start space-y-3 md:space-y-0 md:space-x-1 p-4">

                <div class="max-h-64 overflow-hidden">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400" style="table-layout: fixed; width: 100%;">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3 w-2/12" style="width: 15%">고객사</th>
                            <th scope="col" class="px-4 py-3 w-2/12" style="width: 15%">고유코드</th>
                            <th scope="col" class="px-4 py-3 w-2/12" style="width: 40%">프로젝트명</th>
                            <th scope="col" class="px-4 py-3 w-2/12" style="width: 15%">시작일</th>
                            <th scope="col" class="px-4 py-3 w-2/12" style="width: 15%">만료일</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="project : ${projects}" class="border-b dark:border-gray-700">
                            <td class="px-4 py-3" th:text="${project.client.name}">고객사</td>
                            <td class="px-4 py-3"  th:text="${project.uniqueCode}">2000-0000</td>
                            <td class="px-4 py-3 text-gray-900 dark:text-white task-title-column">
                                <a href="#" th:onclick="setProject([[${project.id}]], [[${project.name}]])"
                                   th:text="${project.name}" class="hover:text-primary-700 dark:hover:text-primary-500">
                                </a>
                            </td>
                            <td class="px-4 py-3" th:text="${project.startDate}">시작일</td>
                            <td class="px-4 py-3" th:text="${project.finishDate}">만료일</td>
                        </tr>
                        </tbody>
                    </table>


                </div>

                <nav class="flex flex-col md:flex-row justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
    <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
        Showing
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${projects.totalElements > 0} ? ${projects.pageable.offset + 1} : 0">1</span>
        -
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${projects.totalElements > 0} ? ${projects.pageable.offset + projects.size} : 0">10</span>
        of
        <span class="font-semibold text-gray-900 dark:text-white" th:text="${projects.totalElements}">0</span>
    </span>
                    <ul class="inline-flex items-stretch -space-x-px">
                        <li>
                            <a href="#" id="prevBtn" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Previous</span>
                                <svg class="w-5 h-5 " aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </li>
                        <!-- 페이지 번호를 반복하여 링크 생성 -->
                        <!-- Determine the current group number (e.g., 0 for 1-10, 1 for 11-20, etc.) -->
                        <th:block th:with="currentGroupNo=${currentPage/5}">

                            <!-- Calculate the start and end page numbers for the current group -->
                            <th:block th:with="startPageNo=${currentGroupNo*5 + 1}, endPageNo=${(currentGroupNo + 1)*5}">

                                <!-- Iterate over the page numbers in the current group -->
                                <li th:each="pageNo : ${#numbers.sequence(startPageNo, endPageNo)}" th:if="${pageNo <= totalPages}">
                                    <!-- 현재 URL에서 쿼리 매개변수 추출 -->
                                    <th:block th:with="currentParams=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest().replaceQueryParam('page', null).build().toUri().query}">
                                        <!-- 페이지 링크에 페이지 및 필터링 매개변수 추가 -->
                                        <a th:href="@{/project/select(page=${pageNo})} + @{${currentParams} != null ? '&amp;' + ${currentParams} : ''}"
                                           th:classappend="${pageNo} == ${currentPage+1} ? 'font-semibold active flex items-center justify-center text-sm py-2 px-3 leading-tight text-primary-600 bg-primary-50 border border-primary-300 hover:bg-primary-100 hover:text-primary-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white' : 'flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white'"
                                           th:text="${pageNo}">
                                        </a>
                                    </th:block>
                                </li>

                            </th:block>

                        </th:block>
                        <li>
                            <a href="#" id="nextBtn" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                <span class="sr-only">Next</span>
                                <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                                </svg>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
<script th:inline="javascript">


    const currentPage = /*[[${currentPage }]]*/;
    const totalPages = /*[[${totalPages }]]*/;

    function setProject(id, name){
        window.opener.setProject(id, name);
        window.close();
    }

    document.addEventListener('DOMContentLoaded', function () {
        const prevBtn = document.getElementById('prevBtn');
        const nextBtn = document.getElementById('nextBtn');

        prevBtn.addEventListener('click', function (event) {
            event.preventDefault();
            if (currentPage >= 5) {
                const prevPage = ( parseInt( (currentPage - 5)/5)) * 5;
                const currentParams = getCurrentURLParams();
                currentParams['page'] = prevPage+1;
                window.location.href = '/project/select?' + new URLSearchParams(currentParams).toString();
            }
        });

        nextBtn.addEventListener('click', function (event) {
            event.preventDefault();
            if (currentPage < totalPages - 1) {
                const nextPage = ( parseInt( (currentPage + 5)/5) ) * 5;
                const currentParams = getCurrentURLParams();
                currentParams['page'] = nextPage+1;
                window.location.href = '/project/select?' + new URLSearchParams(currentParams).toString();
            }
        });
    });

    function getCurrentURLParams() {
        const urlParams = new URLSearchParams(window.location.search);
        const queryParams = {};
        urlParams.forEach((value, key) => (queryParams[key] = value));
        return queryParams;
    }

    function submitSearch(event) {
        event.preventDefault();

        const currentParams = getCurrentURLParams();

        const searchInput = document.getElementById("simple-search");
        const searchQuery = searchInput.value.trim();
        currentParams["Keyword"] = searchQuery;
        currentParams["currentPage"] = 0;
        const newUrl = "/project/select?" + new URLSearchParams(currentParams).toString();
        window.location.href = newUrl;

        return false;
    }

    /**
     *     프로젝트 등록
     */


    var clientName = document.getElementById("clientName");
    var projectName = document.getElementById("projectName");
    var productId = document.getElementById("productId");
    var teamId = document.getElementById("teamId");
    var startDate = document.getElementById("startDate");
    var finishDate = document.getElementById("finishDate");
    var engineerName = document.getElementById("engineer");
    var subEngineerName = document.getElementById("subEngineer");
    var directSelect = document.getElementById("direct-select");
    var uniqueCode = document.getElementById("uniqueCode");

    var projectCreateBtn = document.getElementById("projectCreateBtn");
    var closeButton = document.getElementById("closeButton");

    if (projectCreateBtn) {
        projectCreateBtn.addEventListener('click', function () {
            if (clientName.value.length < 1) {
                alert("정확한 고객사명을 입력해 주세요.");
                return;
            }
            if (projectName.value.length < 1) {
                alert("정확한 프로젝트명과 입력해 주세요.");
                return;
            }
            if (productId.value === '') {
                alert("제품을 선택해주세요.");
                return;
            }
            if (teamId.value === '') {
                alert("담당 팀을 선택해주세요.");
                return;
            }
            if (startDate.value === '' || finishDate.value === '') {
                alert("기간을 선택해주세요.");
                return;
            }
            if (engineerName.value === '' ) {
                alert("담당 엔지니어를 선택해주세요.");
                return;
            }
            if (uniqueCode.value === '' ) {
                alert("프로젝트 고유 코드를 입력해주세요.");
                return;
            }
            fetch("/project/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    clientName: clientName.value,
                    projectName: projectName.value,
                    productId : productId.value,
                    teamId : teamId.value,
                    startDate : startDate.value,
                    finishDate : finishDate.value,
                    engineerName : engineerName.value,
                    subEngineerName: subEngineerName.value,
                    uniqueCode : uniqueCode.value

                }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.projectExist) {
                        alert("이미 존재하는 프로젝트입니다.");
                    } else if (!data.projectExist) {
                        alert("등록이 완료되었습니다.");
                        closeButton.click();

                        if (directSelect.checked){
                            setProject(data.projectId ,projectName.value);
                        }

                    } else {
                        alert("등록을 실패했습니다. 관리자에 문의해주시기 바랍니다.");

                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        });
    }

</script>
</body>
</html>