<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="favicon" href="/templates/favicon.ico">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">

</head>
<body>
<div th:replace="header :: header"></div>

<section class="bg-white dark:bg-gray-900" style="padding-top: 48px">
    <nav style="height: 62px" class="justify-between h-16 px-4 py-3 text-gray-700 border border-gray-200 rounded-lg sm:flex sm:px-5 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
        <ol class="inline-flex items-center mb-3 space-x-1 md:space-x-3 sm:mb-0">
            <li>
                <div class="flex items-center">
                    <a th:href="'/team?departmentId='+${department.id}" class="font-bold ml-1 text-sm text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white" th:text="${department.name}"></a>
                </div>
            </li>
        </ol>
    </nav>
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white" th:text="${department.name}" style="padding-bottom: 48px"></h2>

        <form id="selectForm" action="/teamInfo" method="get"> <!-- Specify the action and method for the form -->
            <label for="team" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
            <select id="team" name="teamId" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                <option value="" selected>팀을 선택해주세요.</option>
                <!-- Iterate over the issues list and add each issue's name as an option -->
                <th:block th:each="team : ${teams}">
                    <option th:value="${team.id}" th:text="${team.name}"></option>
                </th:block>
            </select>

            <div style="display: flex; align-items: end; justify-content: flex-end;">
                <button type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-gray-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                    팀 상세보기
                </button>
            </div>
        </form>

    </div>

    <div class="skeleton mt-8 mb-6" style="background-color: #F7F7F7;">

        <iframe class="iframe-pc" th:src="${@environment.getProperty('superset.server')} + ${@environment.getProperty('superset.team')} + ${department.id} " width="100%" height="1400" ></iframe>
        <iframe class="iframe-mobile hidden" th:src="${@environment.getProperty('superset.server')} + ${@environment.getProperty('superset.team-mobile')} + ${department.id} " width="100%" height="1400" ></iframe>
<!--        <iframe th:src="@{'https://err2.somansa.com/superset/dashboard/4/?standalone=2&slice_id=4&department_id=' + ${department.id} }" width="100%" height="1400" ></iframe>-->

    </div>

</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('selectForm');
        form.addEventListener('submit', function (event) {
            const selectedTeam = document.getElementById('team').value;
            if (!selectedTeam) {
                event.preventDefault(); // Prevent form submission
                alert('팀을 선택해주세요.'); // You can display an error message to the user
            }
        });
    });
</script>
<div th:replace="footer :: footer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<style>
    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

    .skeleton * {
        background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
        background-size: 200% 100%;
        background-position: 100% 0;
        animation: load 1s infinite;
    }

    @keyframes load {
        100% {
            background-position: -100% 0;
        }
    }

    /* 모바일 화면에서는 한 줄에 1개의 열로 변경 */
    @media (max-width: 1064px) {

        .iframe-pc {
            display: none;
        }

        /* PC에서는 iframe-mobile을 숨김 */
        .iframe-mobile {
            display: block;
        }
    }
</style>
</body>
</html>