<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css"  rel="stylesheet" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <link rel="favicon" href="/templates/favicon.ico">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/ico" th:href="@{../static/favicon.ico}">

</head>
<body>
<div th:replace="header :: header"></div>
<!-- 고객사 등록 모달 -->
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-modal md:h-full">
    <div class="relative p-4 w-full max-w-2xl h-full md:h-auto" style="align-items: center; align-content: center; ">
        <!-- Modal content -->
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5" style="align-self: center;">
            <!-- Modal header -->
            <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    일정 추가
                </h3>
                <button type="button"  id="closeButton" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <form action="/schedule/add" method="post" th:object="${newSchedule}">

                <div>
                    <div class="grid gap-4 mb-4 sm:grid-cols-2">
                        <div>
                            <label for="content" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                            <input type="text" name="content" id="content"  th:field="*{content}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="일정 내용을 입력해주세요." minlength=1 required>
                        </div>

                        <div>
                            <label for="date" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"></label>
                            <input type="date" name="date" id="date"  th:field="*{date}" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
                        </div>

                        <input type="hidden" id="teamId" name="teamId" th:value="${team.id}">

                    </div>
                    <div style="display: flex; justify-content:flex-end ">
                        <button type="submit" id="scheduleCreateBtn" class="text-white inline-flex items-center bg-gray-600 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800 ">
                            <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            등록하기
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<section class="bg-white dark:bg-gray-900" style="padding-top: 48px">
    <nav style="height: 62px" class="justify-between h-16 px-4 py-3 text-gray-700 border border-gray-200 rounded-lg sm:flex sm:px-5 bg-gray-50 dark:bg-gray-800 dark:border-gray-700" aria-label="Breadcrumb">
    </nav>
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <div class="mb-8">
            <!-- 팀 일정 표시 -->
            <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white" style="padding-bottom: 48px">금일 팀 일정</h2>

            <h3 th:text="'[기술 N본부'+${team.name}+'] - '+${#calendars.format(#dates.createNow(), 'yyyy.MM.dd(EEE)')}"></h3>
            <h3>#업무계획</h3>


            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-600 dark:text-gray-400">
                    <tbody>
                    <tr th:each="schedule : ${teamSchedule}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4" th:text="${schedule.content}">일정</td>
                        <td class="px-6 py-4" th:text="${schedule.memp.name}">날짜</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


        <div class="mb-8">
            <h2 class="mb-4 text-lg font-bold text-gray-900 dark:text-white">내 일정</h2>

            <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <tbody>
                    <tr th:each="schedule : ${thisWeekSchedule}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <td class="px-6 py-4" th:text="${schedule.content}">일정 제목</td>
                        <td class="px-6 py-4" th:text="${schedule.date}">일정 날짜</td>
                        <!-- 스케줄 편집 페이지로 이동하는 링크 -->
                        <td class="px-6 py-4 font-bold" style="color: blue"><a th:href="@{/schedule/edit/{scheduleId}(scheduleId=${schedule.id})}">편집</a></td>
                        <!-- 스케줄 삭제를 위한 폼 제출 -->
                        <td class="px-6 py-4 font-bold" style="color: red">
                            <form th:action="@{/schedule/delete/{scheduleId}(scheduleId=${schedule.id})}" method="post">
                                <input type="hidden" name="teamId" th:value="${team.id}">
                                <input type="submit" value="삭제">
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div style="display: flex; align-items: end; justify-content: flex-end;">
            <button type="button" id="defaultModalButton" data-modal-toggle="defaultModal" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-gray-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                일정 추가
            </button>
        </div>
    </div>

</section>

<div th:replace="footer :: footer"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
<script>
    var scheduleCreateBtn = document.getElementById("scheduleCreateBtn");
    var content = document.getElementById("content");
    var date = document.getElementById("date");

    if (scheduleCreateBtn) {
        scheduleCreateBtn.addEventListener('click', function () {
            if (content.value.length < 1) {
                alert("일정 내용을 입력해 주세요.");
                return false;
            }
        });
    }

</script>
<style>
    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
</style>
</body>
</html>
